# This CODEOWNERS file follows the format of Github's CODEOWNERS
#   Documentation for reference, https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @iTwin/itwinjs-core-admins will be requested for
# review when someone opens a pull request.
*                         @iTwin/itwinjs-core-admins

.github/workflows         @iTwin/itwinjs-core-admins
.github/CODEOWNERS        @iTwin/itwinjs-core-admins

.gitattributes            @iTwin/itwinjs-core-admins
.gitignore                @iTwin/itwinjs-core-admins

# These are owners for specific files in the repository
# Each line is a file pattern followed by one or more owners

/build/                                      @chuckkir @calebmshafer @skirby1996
/iModelCore/Bentley/                         @swwilson-bsi @kabentley @bbastings @pmconne
/iModelCore/BeSQLite/                        @kabentley @khanaffan
/iModelCore/BRepCore/                        @pmconne @bbastings
/iModelCore/ECDb/                            @khanaffan @kabentley @calebmshafer @rschili @ColinKerr
/iModelCore/ecobjects/                       @calebmshafer @ColinKerr @c-macdonald @rschili
/iModelCore/ECPresentation/                  @iTwin/itwinjs-core-presentation
/iModelCore/GeoCoord/                        @kabentley @AlainRobertAtBentley
/iModelCore/GeomLibs/                        @EarlinLutz @bbastings @kabentley @dassaf4
/iModelCore/iModelPlatform/                  @pmconne @swwilson-bsi @kabentley @bbastings
/iModelCore/Units/                           @calebmshafer @ColinKerr @bbastings @rschili
/iModelCore/iModelPlatform/**/*Tile*.*       @pmconne @markschlosseratbentley
/iModelCore/iModelPlatform/**/*Render*.*     @pmconne @markschlosseratbentley @bbastings

/iModelJsNodeAddon/                          @pmconne @swwilson-bsi @khanaffan @kabentley @calebmshafer @bbastings
/iModelJsNodeAddon/presentation/             @iTwin/itwinjs-core-presentation
