*.vcxproj.user
*.orig
*.bak
.DS_Store
*.pyc
*.xcuserstate
xcuserdata
iModelJsApp.xcconfig
ipch
.gradle/
gradle.properties
local.properties
*.vcxproj
*.sln
.vs
.vscode/c_cpp_properties.json
.vscode/settings.json