<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <ConnectionString>Data Source=NAOU10726QBC;Initial Catalog=RMIndex;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False</ConnectionString>
    <SchemaLocation>D:\ECSchemaNewDB.xml</SchemaLocation>
    <PackagesLocation>C:\RealityData\PackagesNewDb\</PackagesLocation>
</configuration>