# TODO: URLs could be replaced with buddi:// in future once available

--createcache
    -l BentleyConnectGlobalQa
    -url https://qa-wsg20-eus.cloudapp.net
    -r BentleyCONNECT.Global--CONNECT.GLOBAL
    -auth:qa:ims bentleyvilnius@gmail.com:Q!w2e3r4t5
--createcache
    -l BentleyConnectGlobalDev
    -url https://dev-wsg20-eus.cloudapp.net
    -r BentleyCONNECT.Global--CONNECT.GLOBAL
    -auth:qa:ims bentleyvilnius@gmail.com:Q!w2e3r4t5
--createcache
    -l BentleyConnectMainQa
    -url https://qa-connect-wsg20.bentley.com
    -r BentleyCONNECT--Main
    -auth:qa:ims bentleyvilnius@gmail.com:Q!w2e3r4t5
--createcache
    -l BentleyConnectMainProd
    -url https://connect-wsg20.bentley.com
    -r BentleyCONNECT--Main
    -auth:prod:ims bentleyvilnius@gmail.com:Q!w2e3r4t5
--createcache
    -l BentleyConnectSharedContent
    -url https://qa-wsg20-eus.cloudapp.net
    -r BentleyCONNECT.SharedContent--CONNECT.SharedContent
    -auth:qa:ims bentleyvilnius@gmail.com:Q!w2e3r4t5
--createcache
    -l BentleyConnectPersonalShare
    -url https://qa-wsg20-eus.cloudapp.net
    -r BentleyCONNECT.PersonalPublishing--CONNECT.PersonalPublishing
    -auth:qa:ims bentleyvilnius@gmail.com:Q!w2e3r4t5
--createcache
    -l BentleyConnectProjectSyncServiceShare
    -url https://qa-connect-wsg20.bentley.com
    -r BentleyCONNECT.ProjectContent--238f67b9-b6db-4b37-810e-bfdc0ab5e0b0
    -auth:qa:ims bentleyvilnius@gmail.com:Q!w2e3r4t5
--createcache
    -l BentleyConnectProjectShareDev
    -url https://dev-projectsharestorage-eus.cloudapp.net
    -r BentleyCONNECT.ProjectShareV2--cde346b3-a3fd-40bd-9013-c6440782665f
    -auth:dev:ims bentleyvilnius@gmail.com:Q!w2e3r4t5
--createcache
    -l BentleyConnectProjectShare
    -url https://qa-connect-projectsharestorage.bentley.com
    -r BentleyCONNECT.ProjectShareV2--be34a3c3-e1df-4540-85a9-e39a2095225a
    -auth:qa:ims bentleyvilnius@gmail.com:Q!w2e3r4t5
--createcache
    -l BentleyConnectPunchlist
    -url https://qa-punchlist-eus.cloudapp.net
    -r IssuePlugin--default
    -auth:qa:ims bentleyvilnius@gmail.com:Q!w2e3r4t5
# Graphite0505 does not support this
#--createcache
#    -l BentleyConnectPunchlistV11
#    -url https://qa-punchlist-eus.cloudapp.net
#    -r IssuePluginV1.1--default
#    -auth:qa:ims bentleyvilnius@gmail.com:Q!w2e3r4t5
--createcache
    -l BentleyConnectMarkupV2
    -url https://qa-connect-punchlist.bentley.com
    -r MarkupServiceV2.0--default
    -auth:qa:ims bentleyvilnius@gmail.com:Q!w2e3r4t5
--createcache
    -l BentleyConnectForms
    -url https://qa-connect-formswsg.bentley.com
    -r Bentley.Forms--b2d70121-49d4-4c83-a5c5-8544df3ed74f
    -auth:qa:ims bentleyvilnius@gmail.com:Q!w2e3r4t5
--createcache
    -l BentleyConnectFeatureTrackingQa
    -url https://QA-SELECTserver.bentley.com/LicensingProxy
    -r BentleyCONNECT--Main
    -auth:qa:ims bentleyvilnius@gmail.com:Q!w2e3r4t5
--createcache
    -l BentleyConnectFeatureTrackingProd
    -url https://SELECTserver.bentley.com/LicensingProxy
    -r BentleyCONNECT--Main
    -auth:prod:ims bentleyvilnius@gmail.com:Q!w2e3r4t5
# Graphite0505 does not need to support this
#--createcache
#    -l BentleyConnectBIMReviewShare
#    -url https://qa-bimreviewshare.bentley.com
#    -r ContentPlugin--default
#    -auth:qa:ims bentleyvilnius@gmail.com:Q!w2e3r4t5
--createcache
    -l WSG13eBPluginRepository
    -url https://mobilevm1.bentley.com/ws
    -r eB.MobileVM2.bentley.com,eB_15.4_CR
    -auth:basic admin:admin
--createcache
    -l WSG13ProjectWisePluginRepository
    -url https://mobilevm5.bentley.com/ws
    -r pw.Mobile_ATP_2
    -auth:basic admin:admin
--createcache
    -l WSG13SharePointPluginRepository
    -url https://mobilevm1.bentley.com/ws
    -r ec.Bentley.ECOM.SharePointProvider--http~3A~2F~2Fpw_edge_sp_2013.bentley.com
    -auth:basic ps_edge_sp_2013.bentley.com\\Administrator:Q!w2e3r4
--createcache
    -l WSG22eBPluginRepository
    -url https://mobilevm3.bentley.com/ws22
    -r Bentley.eB--MobileVM2.bentley.com~2CeB_15.4_CR
    -auth:basic admin:admin
--createcache
    -l WSG250xProjectWiseRepository
    -url https://mobilevm2.bentley.com/ws250
    -r Bentley.PW--MobileVM1.bentley.com~3AMobile_ATP_2
    -auth:basic admin:admin
--createcache
    -l WSG250xProjectWiseRepositoryWithProdImsUser
    -url https://mobilevm2.bentley.com/ws250
    -r Bentley.PW--MobileVM1.bentley.com~3APW_Mobile_10.00.02.265
    -auth:prod:ims bentleyvilnius@gmail.com:Q!w2e3r4t5
    -validateCertificates false
--createcache
    -l WSG262xProjectWise100003xxRepository
    -url https://mobilevm6.bentley.com/ws
    -r Bentley.PW--MobileVM1.bentley.com~3AMobile_ATP_2
    -auth:basic admin:admin
