# TODO: URLs could be replaced with buddi:// in future once available

--createcache
    -l BentleyConnectGlobalQa
    -url https://qa-wsg20-eus.cloudapp.net
    -r BentleyCONNECT.Global--CONNECT.GLOBAL
    -auth:qa:ims bentleyvilnius@gmail.com:Q!w2e3r4t5
--createcache
    -l BentleyConnectGlobalDev
    -url https://dev-wsg20-eus.cloudapp.net
    -r BentleyCONNECT.Global--CONNECT.GLOBAL
    -auth:qa:ims bentleyvilnius@gmail.com:Q!w2e3r4t5
--createcache
    -l BentleyConnectMainQa_KnownIssue
    -url https://qa-connect-wsg20.bentley.com
    -r BentleyCONNECT--Main
    -auth:qa:ims bentleyvilnius@gmail.com:Q!w2e3r4t5
    -c "NeedsServerOrClientFix. Not sure if worth fixing as its never used with WSCache, but maybe should as its one of core services. "
--createcache
    -l BentleyConnectMainProd_KnownIssue
    -url https://connect-wsg20.bentley.com
    -r BentleyCONNECT--Main
    -auth:prod:ims bentleyvilnius@gmail.com:Q!w2e3r4t5
    -c "NeedsServerOrClientFix. Not sure if worth fixing as its never used with WSCache, but maybe should as its one of core services."
    -l BentleyConnectPersonalShare
    -url https://qa-wsg20-eus.cloudapp.net
    -r BentleyCONNECT.PersonalPublishing--CONNECT.PersonalPublishing
    -auth:qa:ims bentleyvilnius@gmail.com:Q!w2e3r4t5
--createcache
    -l BentleyConnectProjectShareDev
    -url https://dev-projectsharestorage-eus.cloudapp.net
    -r BentleyCONNECT.ProjectShareV2--cde346b3-a3fd-40bd-9013-c6440782665f
    -auth:dev:ims bentleyvilnius@gmail.com:Q!w2e3r4t5
--createcache
    -l BentleyConnectProjectShare
    -url https://qa-connect-projectsharestorage.bentley.com
    -r BentleyCONNECT.ProjectShareV2--be34a3c3-e1df-4540-85a9-e39a2095225a
    -auth:qa:ims bentleyvilnius@gmail.com:Q!w2e3r4t5
--createcache
    -l BentleyConnectPunchlist_KnownIssue
    -url https://qa-punchlist-eus.cloudapp.net
    -r IssuePlugin--default
    -auth:qa:ims bentleyvilnius@gmail.com:Q!w2e3r4t5
    -c "NeedsServerFix. BIM02: this IssuePlugin--default is only used in Graphite generation, no fix."
--createcache
    -l BentleyConnectPunchlistV11_KnownIssue
    -url https://qa-punchlist-eus.cloudapp.net
    -r IssuePluginV1.1--default
    -auth:qa:ims bentleyvilnius@gmail.com:Q!w2e3r4t5
    -c "NeedsServerFix. BIM02: Invalid property in ECClass 'Forms_EC_Mapping:FormStyle': The property 'Id' has a name of an ECSQL system property which is not allowed. BIM02: ECClass 'ClashDetection:ResultBase' has invalid base class : An abstract class must not have a non - abstract base class. SOLUTION: Need IssuePluginV1.2 with changes"
--createcache
    -l BentleyConnectMarkupV2
    -url https://qa-connect-punchlist.bentley.com
    -r MarkupServiceV2.0--default
    -auth:qa:ims bentleyvilnius@gmail.com:Q!w2e3r4t5
--createcache
    -l BentleyConnectForms
    -url https://qa-connect-formswsg.bentley.com
    -sv 1.1
    -r Bentley.Forms--b2d70121-49d4-4c83-a5c5-8544df3ed74f
    -auth:qa:ims bentleyvilnius@gmail.com:Q!w2e3r4t5
    -c "NeedsServerFix"
--createcache
    -l BentleyConnectFeatureTrackingQa
    -url https://QA-SELECTserver.bentley.com/LicensingProxy
    -r BentleyCONNECT--Main
    -auth:qa:ims bentleyvilnius@gmail.com:Q!w2e3r4t5
--createcache
    -l BentleyConnectFeatureTrackingProd
    -url https://SELECTserver.bentley.com/LicensingProxy
    -r BentleyCONNECT--Main
    -auth:prod:ims bentleyvilnius@gmail.com:Q!w2e3r4t5
--createcache
    -l BentleyConnectBIMReviewShare
    -url https://qa-bimreviewshare.bentley.com
    -r ContentPlugin--default
    -auth:qa:ims bentleyvilnius@gmail.com:Q!w2e3r4t5
--createcache
    -l WSG13eBPluginRepository_KnownIssue
    -url https://mobilevm1.bentley.com/ws
    -r eB.MobileVM2.bentley.com,eB_15.4_CR
    -auth:basic admin:admin
    -c "MaybeClientFixPossible. JsonInserter failure. The JSON member '$id' does not match with a property in ECClass 'WSCacheMetaSchema:ECSchemaDef'"
--createcache
    -l WSG13ProjectWisePluginRepository_KnownIssue
    -url https://mobilevm5.bentley.com/ws
    -r pw.Mobile_ATP_2
    -auth:basic admin:admin
    -c "MaybeClientFixPossible. JsonInserter failure. The JSON member '$id' does not match with a property in ECClass 'WSCacheMetaSchema:ECSchemaDef'."
--createcache
    -l WSG13SharePointPluginRepository_KnownIssue
    -url https://mobilevm1.bentley.com/ws
    -r ec.Bentley.ECOM.SharePointProvider--http~3A~2F~2Fpw_edge_sp_2013.bentley.com
    -auth:basic ps_edge_sp_2013.bentley.com\\Administrator:Q!w2e3r4
    -c "NeedsServerFix. BIM02: Invalid property in ECClass 'Bentley_SP:Field': The property 'ID' has a name of an ECSQL system property which is not allowed. JsonInserter failure. The JSON member '$id' does not match with a property in ECClass 'WSCacheMetaSchema:ECSchemaDef'. SOLUTION: bim02 added this constraing, share point plugin is deprecated, no fix"
--createcache
    -l WSG22eBPluginRepository_KnownIssue
    -url https://mobilevm3.bentley.com/ws22
    -r Bentley.eB--MobileVM2.bentley.com~2CeB_15.4_CR
    -auth:basic admin:admin
    -c "NeedsServerFix. FAIL: eB schema incomaptible to BIM02. SOLUTION: redesign eB schema in new WSG 2.6+ release, no fix for ProjectContent?"
--createcache
    -l WSG250xProjectWiseRepository_KnownIssue
    -url https://mobilevm2.bentley.com/ws250
    -r Bentley.PW--MobileVM1.bentley.com~3AMobile_ATP_2
    -auth:basic admin:admin
    -validateCertificates false
    -c "NeedsServerFix. ECClass 'PW_WSG:Set' has invalid base class: An abstract class must not have a non-abstract base class."
--createcache
    -l WSG250xProjectWiseRepositoryWithProdImsUser_KnownIssue
    -url https://mobilevm2.bentley.com/ws250
    -r Bentley.PW--MobileVM1.bentley.com~3APW_Mobile_10.00.02.265
    -auth:prod:ims bentleyvilnius@gmail.com:Q!w2e3r4t5
    -validateCertificates false
    -c "NeedsServerFix. ECClass 'PW_WSG:Set' has invalid base class: An abstract class must not have a non-abstract base class."
--createcache
    -l WSG262xProjectWise100003xxRepository
    -url https://mobilevm6.bentley.com/ws
    -r Bentley.PW--MobileVM1.bentley.com~3AMobile_ATP_2
    -auth:basic admin:admin
    -validateCertificates false
--createcache
    -l WSG265xProjectWise1031Repository
    -url https://mobilevm8.bentley.com/ws
    -r Bentley.PW--MobileVM1.bentley.com~3AMobile_ATP_2
    -auth:basic admin:admin
    -validateCertificates false
