# TODO: URLs could be replaced with buddi:// in future once available

--createcache
    -l BentleyConnectGlobalQa
    -url https://qa-wsg20-eus.cloudapp.net
    -r BentleyCONNECT.Global--CONNECT.GLOBAL
    -auth:qa:ims bentleyvilnius@gmail.com:Q!w2e3r4t5
--createcache
    -l BentleyConnectGlobalDev
    -url https://dev-wsg20-eus.cloudapp.net
    -r BentleyCONNECT.Global--CONNECT.GLOBAL
    -auth:qa:ims bentleyvilnius@gmail.com:Q!w2e3r4t5
--createcache
    -l BentleyConnectMainQa_KnownIssue_NeedsServerOrClientFix
    -url https://qa-connect-wsg20.bentley.com
    -r BentleyCONNECT--Main
    -auth:qa:ims bentleyvilnius@gmail.com:Q!w2e3r4t5
    -c "Not sure if worth fixing as its never used with WSCache, but maybe should as its one of core services. "
--createcache
    -l OpenOrCreate_BentleyConnectMainProd_Succeeds
    -url https://connect-wsg20.bentley.com
    -r BentleyCONNECT--Main
    -auth:prod:ims bentleyvilnius@gmail.com:Q!w2e3r4t5
--createcache
    -l OpenOrCreate_BentleyConnectSharedContent_Succeeds
    -url https://qa-wsg20-eus.cloudapp.net
    -r BentleyCONNECT.SharedContent--CONNECT.SharedContent
    -auth:qa:ims bentleyvilnius@gmail.com:Q!w2e3r4t5
--createcache
    -l OpenOrCreate_BentleyConnectPersonalShare_Succeeds
    -url https://qa-wsg20-eus.cloudapp.net
    -r BentleyCONNECT.PersonalPublishing--CONNECT.PersonalPublishing
    -auth:qa:ims bentleyvilnius@gmail.com:Q!w2e3r4t5
--createcache
    -l OpenOrCreate_BentleyConnectProjectSyncServiceShare_Succeeds_KnownIssue_NeedsServerFix
    -url https://qa-connect-wsg20.bentley.com
    -r BentleyCONNECT.ProjectContent--238f67b9-b6db-4b37-810e-bfdc0ab5e0b0
    -auth:qa:ims bentleyvilnius@gmail.com:Q!w2e3r4t5
    -c "FAIL: eB schema incomaptible to BIM02. SOLUTION: redesign eB schema in new WSG 2.6+ release, no fix for ProjectContent?"
--createcache
    -l OpenOrCreate_BentleyConnectProjectShareDev_Succeeds
    -url https://dev-projectsharestorage-eus.cloudapp.net
    -r BentleyCONNECT.ProjectShareV2--cde346b3-a3fd-40bd-9013-c6440782665f
    -auth:dev:ims bentleyvilnius@gmail.com:Q!w2e3r4t5
--createcache
    -l OpenOrCreate_BentleyConnectProjectShare_Succeeds
    -url https://qa-connect-projectsharestorage.bentley.com
    -r BentleyCONNECT.ProjectShareV2--be34a3c3-e1df-4540-85a9-e39a2095225a
    -auth:qa:ims bentleyvilnius@gmail.com:Q!w2e3r4t5
--createcache
    -l OpenOrCreate_BentleyConnectPunchlist_Succeeds_KnowIssue_NeedsServerFix
    -url https://qa-punchlist-eus.cloudapp.net
    -r IssuePlugin--default
    -auth:qa:ims bentleyvilnius@gmail.com:Q!w2e3r4t5
    -c "BIM02: Invalid property in ECClass 'Forms_EC_Mapping:FormStyle': The property 'Id' has a name of an ECSQL system property which is not allowed. SOLUTION: IssuePlugin--default is only used in Graphite generation, no fix"
--createcache
    -l OpenOrCreate_BentleyConnectPunchlistV11_Succeeds_KnownIssue_NeedsServerFix
    -url https://qa-punchlist-eus.cloudapp.net
    -r IssuePluginV1.1--default
    -auth:qa:ims bentleyvilnius@gmail.com:Q!w2e3r4t5
    -c "BIM02: Invalid property in ECClass 'Forms_EC_Mapping:FormStyle': The property 'Id' has a name of an ECSQL system property which is not allowed. BIM02: ECClass 'ClashDetection:ResultBase' has invalid base class : An abstract class must not have a non - abstract base class. SOLUTION: Need IssuePluginV1.2 with changes"
--createcache
    -l OpenOrCreate_BentleyConnectMarkupV2_Succeeds
    -url https://qa-connect-punchlist.bentley.com
    -r MarkupServiceV2.0--default
    -auth:qa:ims bentleyvilnius@gmail.com:Q!w2e3r4t5
--createcache
    -l OpenOrCreate_BentleyConnectForms_Succeeds_KnownIssue_NeedsServerFix
    -url https://qa-connect-formswsg.bentley.com
    -r Bentley.Forms--b2d70121-49d4-4c83-a5c5-8544df3ed74f
    -auth:qa:ims bentleyvilnius@gmail.com:Q!w2e3r4t5
--createcache
    -l OpenOrCreate_BentleyConnectFeatureTrackingQa_Succeeds
    -url https://QA-SELECTserver.bentley.com/LicensingProxy
    -r BentleyCONNECT--Main
    -auth:qa:ims bentleyvilnius@gmail.com:Q!w2e3r4t5
--createcache
    -l OpenOrCreate_BentleyConnectFeatureTrackingProd_Succeeds
    -url https://SELECTserver.bentley.com/LicensingProxy
    -r BentleyCONNECT--Main
    -auth:prod:ims bentleyvilnius@gmail.com:Q!w2e3r4t5
--createcache
    -l OpenOrCreate_BentleyConnectBIMReviewShare_Succeeds
    -url https://qa-bimreviewshare.bentley.com
    -r ContentPlugin--default
    -auth:qa:ims bentleyvilnius@gmail.com:Q!w2e3r4t5
--createcache
    -l OpenOrCreate_WSG13eBPluginRepository_Succeeds_KnownIssue_MaybeClientFixPossible
    -url https://mobilevm1.bentley.com/ws
    -r eB.MobileVM2.bentley.com,eB_15.4_CR
    -auth:basic admin:admin
    -c "JsonInserter failure. The JSON member '$id' does not match with a property in ECClass 'WSCacheMetaSchema:ECSchemaDef'"
--createcache
    -l OpenOrCreate_WSG13ProjectWisePluginRepository_Succeeds_KnownIssue_MaybeClientFixPossible
    -url https://mobilevm5.bentley.com/ws
    -r pw.Mobile_ATP_2
    -auth:basic admin:admin
    -c "JsonInserter failure. The JSON member '$id' does not match with a property in ECClass 'WSCacheMetaSchema:ECSchemaDef'."
--createcache
    -l OpenOrCreate_WSG13SharePointPluginRepository_Succeeds_KnowIssue_NeedsServerFix
    -url https://mobilevm1.bentley.com/ws
    -r ec.Bentley.ECOM.SharePointProvider--http~3A~2F~2Fpw_edge_sp_2013.bentley.com
    -auth:basic ps_edge_sp_2013.bentley.com\\Administrator:Q!w2e3r4
    -c "BIM02: Invalid property in ECClass 'Bentley_SP:Field': The property 'ID' has a name of an ECSQL system property which is not allowed. JsonInserter failure. The JSON member '$id' does not match with a property in ECClass 'WSCacheMetaSchema:ECSchemaDef'. SOLUTION: bim02 added this constraing, share point plugin is deprecated, no fix"
--createcache
    -l OpenOrCreate_WSG22eBPluginRepository_Succeeds_KnownIssue_NeedsServerFix
    -url https://mobilevm3.bentley.com/ws22
    -r Bentley.eB--MobileVM2.bentley.com~2CeB_15.4_CR
    -auth:basic admin:admin
    -c "FAIL: eB schema incomaptible to BIM02. SOLUTION: redesign eB schema in new WSG 2.6+ release, no fix for ProjectContent?"
--createcache
    -l OpenOrCreate_WSG250xProjectWiseRepository_Succeeds_KnownIssue_NeedsServerFix
    -url https://mobilevm2.bentley.com/ws250
    -r Bentley.PW--MobileVM1.bentley.com~3AMobile_ATP_2
    -auth:basic admin:admin
    -c "ECClass 'PW_WSG:Set' has invalid base class: An abstract class must not have a non-abstract base class."
--createcache
    -l OpenOrCreate_WSG250xProjectWiseRepositoryWithProdImsUser_Succeeds_KnownIssue_NeedsServerFix
    -url https://mobilevm2.bentley.com/ws250
    -r Bentley.PW--MobileVM1.bentley.com~3APW_Mobile_10.00.02.265
    -auth:prod:ims bentleyvilnius@gmail.com:Q!w2e3r4t5
    -c "ECClass 'PW_WSG:Set' has invalid base class: An abstract class must not have a non-abstract base class."
--createcache
    -l OpenOrCreate_WSG262xProjectWise100003xxRepository_Succeeds
    -url https://mobilevm6.bentley.com/ws
    -r Bentley.PW--MobileVM1.bentley.com~3AMobile_ATP_2
    -auth:basic admin:admin
