<?xml version="1.0" encoding="utf-8"?>
<!--
#  Copyright (c) Bentley Systems, Incorporated. All rights reserved.
-->

<!-- Create shortcuts. -->

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <?include $(var.BBInstallSetDefinitionWxi)?>

    <Fragment Id="OpenDwgBridgeStandardRegistry">
        <Property Id="OpenDwgRegistryFeature" Value="1"/>

        <Component Id="PPRequiredInstallRegKeysBSW" Guid="*" Directory="INSTALLDIR" Win64="$(var.COMPONENT_WIN64)" Feature="DefaultFeature">
            <RegistryKey ForceDeleteOnUninstall="yes" ForceCreateOnInstall="yes" Key="SOFTWARE\Bentley\iModelBridges\OpenDwgBridge" Root="HKLM">
                <RegistryValue Name="AffinityLibraryPath"   Value="[INSTALLDIR]DwgBridge.dll" Type="string" />
                <RegistryValue Name="BridgeLibraryPath"     Value="[INSTALLDIR]DwgBridge.dll" Type="string" />

                <RegistryValue Name="iModelFrameWorkExe"    Value="[INSTALLDIR]iModelBridgeFwk.exe" Type="string" />
                <RegistryValue Name="BridgeAssetsDir"       Value="[INSTALLDIR]Assets" Type="string"/>

                <RegistryValue Name="IsPowerPlatformBased" Value="false" Type="string"/>
            </RegistryKey>
        </Component>
    </Fragment>

</Wix>
