<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
      <!--<add key="ImsEmail" value="YOUR_EMAIL" />-->
      <!--<add key="ImsPassword" value="YOUR_PASSWORD" />-->

      <!--PROD-->
      <add key="WsgAuthScheme" value="token" />
      <add key="WsgBaseUrl" value="https://s3mxcloudservice.cloudapp.net/v2.3/Repositories/S3MXECPlugin--Server/" />
      <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=realitydataserver;AccountKey=YbMZc41kvS0RYaGppognu37MEhT4CVs5Gm96ajd6CEqDOVGA5VkpDdOP8MkDY13U1h06DjKa+g/h1zx2oYKggA==" />

      <!--DEV-->
      <add key="WsgAuthScheme" value="bearer" />
      <add key="WsgBaseUrl" value="https://localhost:54321/ws/v2.3/Repositories/S3MXECPlugin--Server/" />
      <!--You'll need to download and run the azure emulator-->
      <add key="StorageConnectionString" value="UseDevelopmentStorage=true" />
      
      <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <httpRuntime executionTimeout="180" />
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>