{
  "name": "@bentley/imodeljs-${NODE_VERSION_CODE}-${NODE_OS}-${NODE_CPU}",
  "os": ["${NODE_OS}"],
  "cpu":  ["${NODE_CPU}"],
  ${NODE_ENGINES}
  "license": "SEE LICENSE IN LICENSE.pdf",
  "version": "${PACKAGE_VERSION}",
  "keywords": [
    "Bentley",
    "iModel"
  ],
  "author": {
    "name": "Bentley Systems, Inc.",
    "url": "www.bentley.com"
  }
}
