<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Bentley.ImageViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Bentley.ImageViewer.Properties.Settings>
            <setting name="BackgroundColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="DisplayWidth" serializeAs="String">
                <value>1200</value>
            </setting>
            <setting name="DisplayHeight" serializeAs="String">
                <value>800</value>
            </setting>
        </Bentley.ImageViewer.Properties.Settings>
    </userSettings>
</configuration>