# Doxyfile 1.8.2

# This file describes the settings to be used by the documentation system
# doxygen (www.doxygen.org) for a project.
#
# All text after a hash (#) is considered a comment and will be ignored.
# The format is:
#       TAG = value [value, ...]
# For lists items can also be appended using:
#       TAG += value [value, ...]
# Values that contain spaces should be placed between quotes (" ").

#---------------------------------------------------------------------------
# Inherit DgnPlatform configuration
#---------------------------------------------------------------------------

@INCLUDE = $(BuildContext)SubParts/BentleyDocConfig/bentley-doxygen.cfg

#---------------------------------------------------------------------------
# Append DwgImporter macro expansions
#---------------------------------------------------------------------------

PREDEFINED += \
	"DWGTOOLKIT_RealDwg=1" \
	\
    "BEGIN_DWG_NAMESPACE=namespace BentleyApi{namespace Dwg{" \
    "END_DWG_NAMESPACE=}}" \
    "USING_NAMESPACE_DWG=using namespace BentleyApi::Dwg;" \
    \
    "BEGIN_DWGDB_NAMESPACE=namespace BentleyApi{namespace DwgDb{" \
    "END_DWGDB_NAMESPACE=}}" \
    "USING_NAMESPACE_DWGDB=using namespace BentleyApi::DwgDb;" \
	\
	"DWGDB_EXTENDCLASS(_name_)=AcDb##_name_# or OdDb##_name_" \
    "DWGRX_EXTENDCLASS(_name_)=AcRx##_name_# or OdRx##_name_" \
    "DWGGI_EXTENDCLASS(_name_)=AcGi##_name_# or OdGi##_name_" \
    "DWGROOTCLASS_EXTEND(_name_)=Ac##_name_# or Od##_name_" \
	\
    "DWG_Type(_name_)=Ac##_name_" \
    "DWGCM_Type(_name_)=AcCm##_name" \
    "DWGDB_Type(_name_)=AcDb##_name_" \
    "DWGGE_Type(_name_)=AcGe##_name_" \
    "DWGGI_Type(_name_)=AcGi##_name_" \
	\
    "DWGRX_DECLARE_RX_MEMBERS(_name_)=/*! The RX class of the _name_ object. */ DWGDB_EXPORT static AcRxClass* Desc(); /*! The toolkit's RX class from which DwgDb##_name_ class extends. */ DWGDB_EXPORT static AcRxClass* SuperDesc(); /*! Create a new RX object for a protocal extension class of DwgDb##_name_*/ DWGDB_EXPORT static AcRxObject* CreateObject(); DWGDB_EXPORT static DwgDb##_name_##P Cast(AcRxObject const* rxObj); DWGDB_EXPORT AcRxObject* QueryX(AcRxClass const* c) const; DWGDB_EXPORT AcRxObject* GetX (AcRxClass const* c) const; DWGDB_EXPORT AcRxClass* IsA () const;" \
    "DWGDB_OBJECT_DECLARE_MEMBERS(_name_)=DWGRX_DECLARE_RX_MEMBERS(##_name_##) DWGDB_EXPORT DwgDbObjectId GetObjectId() const; DWGDB_EXPORT DwgDbObjectId GetOwnerId() const; DWGDB_EXPORT DwgDbDatabasePtr GetDatabase() const; DWGDB_EXPORT DwgDbStatus UpgradeOpen(); DWGDB_EXPORT DwgDbStatus DowngradeOpen(); /*! Explicitly close the object(SmartPtr does this automatically). */DWGDB_EXPORT DwgDbStatus Close(); DWGDB_EXPORT DwgString GetDxfName() const; DWGDB_EXPORT DwgString GetDwgClassName() const; DWGDB_EXPORT DwgResBufIterator GetXData(DwgStringCR name=DwgString()) const; DWGDB_EXPORT DwgDbStatus DxfOutFields(IDxfFilerR filer) const; DWGDB_EXPORT DwgDbStatus DxfOut(IDxfFilerR filer) const;" \
	"DWGDB_DECLARE_BASECLASS_MEMBERS(_name_)=DWGDB_OBJECT_DECLARE_MEMBERS(##_name_##);" \
	"DWGDB_DECLARE_COMMON_MEMBERS(_name_)=DWGDB_DECLARE_BASECLASS_MEMBERS(##_name_##) /*! Create a new object intended to be saved to DWG file, e.g. DwgDb##_name_##Ptr ent = DwgDb##_name_##::Create(); */ DWGDB_EXPORT static DwgDb##_name_##* Create();" \
	"DWGDB_OVERRIDE_SMARTPTR_INTERFACE(_name_)=virtual bool _IsNull() const override; virtual Dwg##_name_##CP _Get() const override; virtual Dwg##_name_##P _Get() override; virtual DwgDbStatus _OpenObject(DwgDbObjectId id,DwgDbOpenMode mode,bool openErased=false, bool openLocked=false) override; virtual DwgDbStatus _AcquireObject(Dwg##_name_##P& obj) override; virtual DwgDbStatus _CreateObject() override; virtual DwgDbStatus _CloseObject() override;" \
	"DWGDB_PUBLIC_SMARTPTR_METHODS(_name_)=DWGDB_EXPORT bool IsNull() const; DWGDB_EXPORT Dwg##_name_##CP get() const; DWGDB_EXPORT Dwg##_name_##P get(); DWGDB_EXPORT DwgDbStatus OpenObject(DwgDbObjectId id,DwgDbOpenMode mode,bool openErased=false, bool openLocked=false); DWGDB_EXPORT DwgDbStatus AcquireObject(Dwg##_name_##P& obj); DWGDB_EXPORT DwgDbStatus CloseObject();" \
	"DWGDB_DEFINE_OBJECTPTR(_name_)=class DwgDb##_name_##Ptr : public AcDbSmartObjectPointer<AcDb##_name_##>, public IDwgDbSmartPtr<DwgDb##_name_##> { protected: DWGDB_OVERRIDE_SMARTPTR_INTERFACE(Db##_name_##); public: DWGDB_ADD_SMARTPTR_CONSTRUCTORS(Db##_name_##); DWGDB_EXPORT DwgDb##_name_##Ptr(DwgDbObjectId id, DwgDbOpenMode mode = DwgDbOpenMode::ForRead, bool openErased = false, bool openLocked = false); DWGDB_EXPORT DwgDb##_name_##Ptr(DwgDb##_name_##P obj); DWGDB_EXPORT DwgDb##_name_##Ptr& operator = (DwgDb##_name_##P obj); DWGDB_PUBLIC_SMARTPTR_METHODS(Db##_name_##) };"
