<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
        <!-- Fetch mode-->
        <add key="connectionString" value="DefaultEndpointsProtocol=https;AccountName=beconndiagprodsa01;AccountKey=WYwM5H8EO9sB08WV5KU7Qn33sqWYJxNBZCbvrcmjtel9Z1kHTZFt/7BYO76akT1fZX3i/P4kN8kWPm5htZ0DLg==" />
        <!--<add key="tableName" value="BCLogETW201608" />-->
        <!--<add key="resultsFile" value="C:\Users\Christian.Tye-Gingra\Documents\QueryResults\resultsAUGUST.txt" />-->

        <!-- Extraction mode-->
        <add key="email" value="Insert Bentley IMS account email here" />
        <add key="password" value="Insert password here" />
        <add key="serviceUrl" value="https://connect-contextservices.bentley.com" />
        <add key="activeSTSUrl" value="https://ims.bentley.com/ActiveSTSService.svc/UserName" />
        <add key="serverURL" value="https://connect-contextservices.bentley.com" />
        <add key="scheme" value="Token" />
        <!--<add key="inputName" value="C:\Users\Christian.Tye-Gingra\Documents\QueryResults\resultsMAY.txt" />-->
        <!--<add key="baseResultName" value="C:\Users\Christian.Tye-Gingra\Documents\QueryResults\polygonCountryMAY" />-->
        <add key="saveXrdp" value="false" />
    </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>