<Configuration xmlns="http://www.bentley.com/OrchestrationFramework/ExtConfigSchema.xsd">
    <SupportingPath Directory="[SOFTWARE\Bentley\AutomationServices\Server:InstallDir]"/>
    <SupportingPath Directory="[SOFTWARE\Bentley\AutomationServices\Administrator:InstallDir]"/>
    <SupportingPath Directory=".\MyPluginRefs"/>
    <EntryAssembly>
        <Name>orchadmin</Name>
        <RunSpecifiedLoaders>
            <ExtensionLoader Type="BentleyB0200.Dgn.DgnV8Mirror.ICS.DgnV8MirrorICSPluginLoader"/>
        </RunSpecifiedLoaders>
    </EntryAssembly>
    <EntryAssembly>
        <Name>pasPreprocess</Name>
        <RunSpecifiedLoaders>
            <ExtensionLoader Type="BentleyB0200.Dgn.DgnV8Mirror.ICS.DgnV8MirrorICSPluginLoader"/>
        </RunSpecifiedLoaders>
    </EntryAssembly>
    <EntryAssembly>
        <Name>pasDelegateProcessor</Name>
        <RunSpecifiedLoaders>
            <ExtensionLoader Type="BentleyB0200.Dgn.DgnV8Mirror.ICS.DgnV8MirrorICSPluginLoader"/>
        </RunSpecifiedLoaders>
    </EntryAssembly>
    <EntryAssembly>
        <Name>pasSmartDispatcher</Name>
        <RunSpecifiedLoaders>
            <ExtensionLoader Type="BentleyB0200.Dgn.DgnV8Mirror.ICS.DgnV8MirrorICSPluginLoader"/>
        </RunSpecifiedLoaders>
    </EntryAssembly>
</Configuration>