<?xml version="1.0" encoding="utf-8"?>
<!--
#     $Source: install/ppRegistryFrag.wxs $
#    $RCSfile: productShortcutFrag.wxs,v $
#   $Revision: 1.36 $
#       $Date: 2011/08/12 12:28:22 $
#     $Author: Vishal.Sharma $
#
#  $Copyright: (c) 2018 Bentley Systems, Incorporated. All rights reserved. $
-->

<!-- Create shortcuts. -->

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <?include $(var.BBInstallSetDefinitionWxi)?>

    <Fragment Id="RealDWGConverterStandardRegistry">
       
        <ComponentGroup Id="PPStandardRegistry">
            <ComponentRef Id="PPRequired_InstallRegKeysBSW_0"/>
        </ComponentGroup>
        
        <Component Id="PPRequired_InstallRegKeysBSW_0" Guid="*" Directory="INSTALLDIR" Win64="$(var.COMPONENT_WIN64)">
            <RegistryKey ForceDeleteOnUninstall="yes" ForceCreateOnInstall="yes" Key="SOFTWARE\Bentley\!(wix.wixProductShortName)\!(wix.wixUpgradeCode)" Root="HKLM">
                <RegistryValue Name="ConfigurationRootPath.V2"  Value="[PACKAGE_HOMEROOT]" Type="string" />
                <RegistryValue Name="ConfigurationPath"      Value="[PACKAGE_HOMEROOT]Configuration\" Type="string" />

                <RegistryValue Name="ProgramPath"      Value="[INSTALLDIR]!(wix.wixPPProductName)\" Type="string" />
                <RegistryValue Name="ApplicationPath"  Value="[INSTALLDIR]!(wix.wixPPProductName)\$(var.platformResources_ProductNames_FileBaseName).exe" Type="string"/>

                <RegistryValue Name="RealDWGConverterVersion" Value="!(wix.RealDWGConverterVersion)" Type="string"/>
            </RegistryKey>
        </Component>
    </Fragment>

</Wix>



