<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" xmlns:bal="http://schemas.microsoft.com/wix/BalExtension" xmlns:wbb="urn:schemas-bentley-com:wixBundleBuild">
    <?include wixBundleBuildDefinitions.wxi?>
	  <?include $(var.BBInstallSetDefinitionWxi)?>
    <?include InstallSetDefintion.wxi?>
    
    <Bundle Name="$(var.bbVarBundleName)" Version="$(var.INSTALLER_PRODUCT_VERSION)" UpgradeCode="$(var.bbVarBundleUpgradeCode)" Condition="VersionNT64  > v6.1 OR (VersionNT64 > v6.0 AND VersionNT64 &lt; v6.2 AND ServicePackLevel >= 1)" DisableModify="no" Manufacturer="Bentley Systems, Incorporated" HelpUrl="https://communities.bentley.com/products/default.aspx" UpdateUrl="http://www.bentley.com/downloads" AboutUrl="http://apps.bentley.com/bentleyconnect/" Copyright="Copyright © 2016 Bentley Systems, Incorporated. All rights reserved." Tag="BE;SP=0;LCID=$(var.LANGUAGE_LCID);PID=1000;Win64=True">
        
        <BootstrapperApplicationRef Id="ManagedBootstrapperApplicationHost">
            <PayloadGroupRef Id="InstallFrameworkManagedBootstrapper"/>
        </BootstrapperApplicationRef>

        <WixVariable Id="WixMbaPrereqPackageId" Value="Nothing" />
        <WixVariable Id="WixMbaPrereqLicenseUrl" Value="Nothing.rtf" />
        
        <Chain ParallelCache="yes">
          <PackageGroupRef Id="PreRequisites"/>
            <MsiPackage Id="PowerProductPackage" SourceFile="$(var.PowerProductPath)$(var.bbVarProductShortName)$(var.bbVarProductTargetPlatform).msi"  Compressed="yes"  Visible="no" EnableFeatureSelection="yes" ForcePerMachine="yes" Description="iModel Bridge Service - Autodesk(R) DWG(TM)">
                <MsiProperty Name="INSTALLDIR" Value="[InstallDirectory]"/>
                <MsiProperty Name="PACKAGE_HOMEROOT" Value="[ConfigurationDirectory]"/>
                <MsiProperty Name="FROMLAUNCHSETUP" Value="1"/>
                <MsiProperty Name="WIXUI_SHORTCUTSDIALOGDESKTOPCHECKBOX" Value="[InstallDesktopShortcut]"/>
                <MsiProperty Name="BUNDLEPROVIDERKEY" Value="[WixBundleProviderKey]"/>

                <!--Bundle Properties for Bundle Bentley registration.-->
                <MsiProperty Name="BE_BUNDLE_NAME"                    Value="[WixBundleName]"/>
                <MsiProperty Name="BE_BUNDLE_VERSION"                 Value="[WixBundleVersion]"/>
                <MsiProperty Name="BE_BUNDLE_BUILDTYPE"               Value="[BeBuildType]"/>
                <MsiProperty Name="BE_BUNDLE_DEPLOYMENTIMAGE_GUID"    Value="[BeLayoutGUID]"/>

                <MsiProperty Name="USER_CONFIGURATION_LOCATION" Value="[SharedConfigurationDirectory]"/>

                <wbb:PackageSource InstallSetContext="DwgConverter" PathMacro="PowerProductPath" />
            </MsiPackage>
           
        </Chain>

        <wbb:Pages>
            <wbb:Page Name="InstallDirectorySelectionPage" Source="SetupPagesLib.dll" Xaml="InstallDirectorySelectionUserControl.xaml">NOT BeUpgradingProductCodes</wbb:Page>/>
            <wbb:Page Name="WelcomeDialogInstallPage"       Source="SetupPagesLib.dll" Xaml="WelcomeDialogInstallUserControl.xaml">BeUpgradingProductCodes</wbb:Page>/>
            <wbb:Page Name="UninstallVerificationPage" Source="SetupPagesLib.dll" Xaml="UninstallVerificationUserConstrol.xaml">BePlannedAction="Uninstall"</wbb:Page>
            <wbb:Page Name="PPCustomWorkSpacesPage" Source="SetupPagesLib.dll" Xaml="PPCustomWorkSpacesUserControl.xaml"/>
            <wbb:Page Name="DeploymentImageSettingsPage" Source="SetupPagesLib.dll" Xaml="DeploymentImageSettingsControl.xaml"/>
            <wbb:Page Name="FeatureConfigPage" Source="SetupPagesLib.dll" Xaml="FeatureConfigUserControl.xaml">NOT BePlannedAction="Uninstall" AND NOT BePlannedAction="Repair" AND NOT BeSkipFeatureConfigDialog</wbb:Page>
            <wbb:Page Name="ProxySettingsPage" Source="SetupPagesLib.dll" Xaml="ProxySettingsUserControl.xaml"/>
            <wbb:Page Name="ErrorPage" Source="SetupPagesLib.dll" Xaml="ErrorUserControl.xaml"/>
            <wbb:Page Name="MaintenancePage" Source="SetupPagesLib.dll" Xaml="MaintenanceUserControl.xaml"/>
            <wbb:Page Name="RepairSelectionPage" Source="SetupPagesLib.dll" Xaml="RepairSelectionUserControl.xaml">BePlannedAction="Repair"</wbb:Page>
            <wbb:Page Name="AddedPackagePage" Source="SetupPagesLib.dll" Xaml="AddedPackageUserControl.xaml"/>
            <wbb:Page Name="WarningPage" Source="SetupPagesLib.dll" Xaml="WarningUserControl.xaml"/>
            <wbb:Page Name="CompanionProductInstallDirSelectionPage" Source="SetupPagesLib.dll" Xaml="CompanionProductInstallDirSelectionUserControl.xaml">NOT BeUpgradingProductCodes</wbb:Page>/>
            <wbb:Page Name="CompanionProductConfigurationSettingsPage" Source="SetupPagesLib.dll" Xaml="CompanionProductConfigurationSettingsUserControl.xaml"/>
            <wbb:Page Name="CompanionProductSelectionPage" Source="SetupPagesLib.dll" Xaml="CompanionProductSelectionUserControl.xaml"/>
            <wbb:Page Name="CompanionProductFeatureSelectionPage" Source="SetupPagesLib.dll" Xaml="CompanionProductFeatureSelectionUserControl.xaml"/>
            <wbb:Page Name="LumenRTInstallDirectorySelectionPage" Source="LumenRTExtension.dll" Xaml="InstallDirSelection.xaml"/>
            <wbb:Page Name="LumenRTUserInformationPage" Source="LumenRTExtension.dll" Xaml="LumenRTUserInformation.xaml"/>
            <wbb:Page Name="RedefineWixPackageCachePage" Source="SetupPagesLib.dll" Xaml="RedefineWixPackageCacheUserControl.xaml"/>
        </wbb:Pages>

        <!--<wbb:UISequences>
            <wbb:UISequence Action="Install">InstallDirectorySelectionPage,WelcomeDialogInstallPage,WelcomeDialogInstallPage,FeatureConfigPage</wbb:UISequence>
            <wbb:UISequence Action="Layout">InstallDirectorySelectionPage,DeploymentImageSettingsPage,FeatureConfigPage</wbb:UISequence>
            <wbb:UISequence Action="Modify">FeatureConfigPage</wbb:UISequence>
            <wbb:UISequence Action="Repair">RepairSelectionPage</wbb:UISequence>
            <wbb:UISequence Action="Uninstall">UninstallVerificationPage</wbb:UISequence>
            <wbb:UISequence Action="Maintenance">MaintenancePage,FeatureConfigPage,RepairSelectionPage,UninstallVerificationPage</wbb:UISequence>
        </wbb:UISequences>-->

      <wbb:UISequences>
        <wbb:UISequence Action="Install">CompanionProductSelectionPage,CompanionProductInstallDirSelectionPage</wbb:UISequence>
        <wbb:UISequence Action="Layout">CompanionProductSelectionPage,CompanionProductInstallDirSelectionPage,DeploymentImageSettingsPage</wbb:UISequence>
        <wbb:UISequence Action="Modify">CompanionProductSelectionPage</wbb:UISequence>
        <wbb:UISequence Action="Repair">RepairSelectionPage</wbb:UISequence>
        <wbb:UISequence Action="Uninstall">UninstallVerificationPage</wbb:UISequence>
        <wbb:UISequence Action="Maintenance">MaintenancePage,CompanionProductSelectionPage,CompanionProductFeatureSelectionPage,RepairSelectionPage,UninstallVerificationPage</wbb:UISequence>
      </wbb:UISequences>

        <?ifdef BBinstallerBuildTypeRelease?>
        <Variable Name="InstallDirectory" Value="[ProgramFiles64Folder]Bentley\DwgBridge\" Persisted="yes" Type="string"/>
        <?else?>
        <Variable Name="InstallDirectory" Value="[ProgramFiles64Folder]Bentley\$(var.bbVarProductShortName)-$(var.INSTALLER_PRODUCT_VERSION)\" Persisted="yes" Type="string"/>
        <?endif?>

        <!--List of properties to save value of, while creating the Deployment Image-->
        <Variable Name="LayoutSavePropertyList" Type="string" Value="InstallDirectory;ConfigurationDirectory;InstallDesktopShortcut;LumenRTInstallDirectory;LumenRTUserName;LumenRTCompanyName;SharedConfigurationDirectory"/>
        <Variable Name="BePathPropertyList" Value="InstallDirectory;ConfigurationDirectory;SharedConfigurationDirectory;LumenRTInstallDirectory"/>

        <!--List of Bundle properties, in addition to Windows Standard Path propties, available when user try to add package.-->
        <Variable Name="AddedPackageAvailablePropertyList" Type="string" Value="InstallDirectory;ConfigurationDirectory"/>

    </Bundle>

  <Fragment Id="PreRequisites">
    <util:RegistrySearch Id="NetFramework45Reg" Root="HKLM" Key="SOFTWARE\Microsoft\NET Framework Setup\NDP\v4\Full" Value="Release" Result="value" Format="raw" Variable="NetFramework45Version"/>
    <util:RegistrySearch Id="BentleyConnectInstalledVersion" Variable="BentleyConnectInstalledVersion" Win64="yes" Root="HKLM" Key="SOFTWARE\Bentley\BentleyDesktopClient\Install" Value="Version" Format="raw" Result="value" />

    <!--<Variable Name="VBA_LANGUAGE_PRGID_1033" Value="$(var.VBA_LANGUAGE_PRGID_1033)" Type="string"/>
    <Variable Name="VBA_LANGUAGE_PRGID" Value="$(var.VBA_LANGUAGE_PRGID)" Type="string"/>
    <Variable Name="VBA_KB2803801_LANGUAGE_PRGID" Value="$(var.VBA_KB2803801_LANGUAGE_PRGID)" Type="string"/>-->

    <util:RegistrySearch Variable="VC14_vcredist_x64_Installed" Root="HKLM" Key="SOFTWARE\Microsoft\DevDiv\vc\Servicing\14.0\RuntimeMinimum" Value="Install" Win64="yes" />

    <PackageGroup Id="PreRequisites">
      <MsiPackage Id="VisualBasicCore"  SourceFile="$(var.RedistMicrosoftVisualBasicForApplications_71_Path)7.1\$(var.bbVarProductTargetPlatform)\Vba71.msi"     Visible="yes" ForcePerMachine="yes" Compressed="no" Permanent="yes">
        <wbb:PackageSource Repository="Redist-MicrosoftVisualBasicForApplications_71"/>
        <SlipstreamMsp Id="VisualBasicCoreKB2803801"/>
        <SlipstreamMsp Id="VisualBasicCoreKB3061498"/>
        <SlipstreamMsp Id="VisualBasicCorepatch"/>
      </MsiPackage>


      <MspPackage Id="VisualBasicCoreKB2803801" SourceFile="$(var.RedistMicrosoftVisualBasicForApplications_71_Path)7.1\Patches\VBA71-KB2803801-x64.msp" Compressed="no" PerMachine="yes" Permanent="yes">
        <wbb:PackageSource Repository="Redist-MicrosoftVisualBasicForApplications_71"/>
      </MspPackage>

      <MspPackage Id="VisualBasicCoreKB3061498" SourceFile="$(var.RedistMicrosoftVisualBasicForApplications_71_Path)7.1\Patches\VBA71-KB3061498-x64.msp" Compressed="no" PerMachine="yes" Permanent="yes">
        <wbb:PackageSource Repository="Redist-MicrosoftVisualBasicForApplications_71"/>
      </MspPackage>

      <MspPackage Id="VisualBasicCorepatch" SourceFile="$(var.RedistMicrosoftVisualBasicForApplications_71_Path)7.1\Patches\patch.x64.msp" Compressed="no" PerMachine="yes" Permanent="yes">
        <wbb:PackageSource Repository="Redist-MicrosoftVisualBasicForApplications_71"/>
      </MspPackage>

      <MsiPackage Id="VisualBasicLang"  SourceFile="$(var.RedistMicrosoftVisualBasicForApplications_71_Path)7.1\$(var.bbVarProductTargetPlatform)\Vba71_1033.MSI"    Visible="yes" ForcePerMachine="yes" Compressed="no" Permanent="yes">
        <wbb:PackageSource Repository="Redist-MicrosoftVisualBasicForApplications_71"/>
        <SlipstreamMsp Id="VisualBasicLangPackKB2803801"/>
      </MsiPackage>

      <MspPackage Id="VisualBasicLangPackKB2803801" SourceFile="$(var.RedistMicrosoftVisualBasicForApplications_71_Path)7.1\Patches\VBA71-KB2803801-x64_1033.msp" Compressed="no" PerMachine="yes" Permanent="yes">
        <wbb:PackageSource Repository="Redist-MicrosoftVisualBasicForApplications_71"/>
      </MspPackage>


      <MsiPackage Id="VisualBasicLang2"  SourceFile="$(var.RedistMicrosoftVisualBasicForApplications_71_Path)7.1\$(var.bbVarProductTargetPlatform)\Vba71_1028.MSI"    Visible="yes" ForcePerMachine="yes" Compressed="no" Permanent="yes">
        <wbb:PackageSource Repository="Redist-MicrosoftVisualBasicForApplications_71" Languages="zh-tw"/>
        <SlipstreamMsp Id="VisualBasicLangPackKB2803801_2"/>
      </MsiPackage>
      <MspPackage Id="VisualBasicLangPackKB2803801_2" SourceFile="$(var.RedistMicrosoftVisualBasicForApplications_71_Path)7.1\Patches\VBA71-KB2803801-x64_1028.msp" Compressed="no" PerMachine="yes" Permanent="yes">
        <wbb:PackageSource Repository="Redist-MicrosoftVisualBasicForApplications_71" Languages="zh-tw"/>
      </MspPackage>

      <MsiPackage Id="VisualBasicLang2"  SourceFile="$(var.RedistMicrosoftVisualBasicForApplications_71_Path)7.1\$(var.bbVarProductTargetPlatform)\Vba71_1031.MSI"    Visible="yes" ForcePerMachine="yes" Compressed="no" Permanent="yes">
        <wbb:PackageSource Repository="Redist-MicrosoftVisualBasicForApplications_71" Languages="de"/>
        <SlipstreamMsp Id="VisualBasicLangPackKB2803801_2"/>
      </MsiPackage>
      <MspPackage Id="VisualBasicLangPackKB2803801_2" SourceFile="$(var.RedistMicrosoftVisualBasicForApplications_71_Path)7.1\Patches\VBA71-KB2803801-x64_1031.msp" Compressed="no" PerMachine="yes" Permanent="yes">
        <wbb:PackageSource Repository="Redist-MicrosoftVisualBasicForApplications_71" Languages="de"/>
      </MspPackage>

      <MsiPackage Id="VisualBasicLang2"  SourceFile="$(var.RedistMicrosoftVisualBasicForApplications_71_Path)7.1\$(var.bbVarProductTargetPlatform)\Vba71_1036.MSI"    Visible="yes" ForcePerMachine="yes" Compressed="no" Permanent="yes">
        <wbb:PackageSource Repository="Redist-MicrosoftVisualBasicForApplications_71" Languages="fr"/>
        <SlipstreamMsp Id="VisualBasicLangPackKB2803801_2"/>
      </MsiPackage>
      <MspPackage Id="VisualBasicLangPackKB2803801_2" SourceFile="$(var.RedistMicrosoftVisualBasicForApplications_71_Path)7.1\Patches\VBA71-KB2803801-x64_1036.msp" Compressed="no" PerMachine="yes" Permanent="yes">
        <wbb:PackageSource Repository="Redist-MicrosoftVisualBasicForApplications_71" Languages="fr"/>
      </MspPackage>

      <MsiPackage Id="VisualBasicLang2"  SourceFile="$(var.RedistMicrosoftVisualBasicForApplications_71_Path)7.1\$(var.bbVarProductTargetPlatform)\Vba71_1041.MSI"    Visible="yes" ForcePerMachine="yes" Compressed="no" Permanent="yes">
        <wbb:PackageSource Repository="Redist-MicrosoftVisualBasicForApplications_71" Languages="ja"/>
        <SlipstreamMsp Id="VisualBasicLangPackKB2803801_2"/>
      </MsiPackage>
      <MspPackage Id="VisualBasicLangPackKB2803801_2" SourceFile="$(var.RedistMicrosoftVisualBasicForApplications_71_Path)7.1\Patches\VBA71-KB2803801-x64_1041.msp" Compressed="no" PerMachine="yes" Permanent="yes">
        <wbb:PackageSource Repository="Redist-MicrosoftVisualBasicForApplications_71" Languages="ja"/>
      </MspPackage>

      <MsiPackage Id="VisualBasicLang2"  SourceFile="$(var.RedistMicrosoftVisualBasicForApplications_71_Path)7.1\$(var.bbVarProductTargetPlatform)\Vba71_1042.MSI"    Visible="yes" ForcePerMachine="yes" Compressed="no" Permanent="yes">
        <wbb:PackageSource Repository="Redist-MicrosoftVisualBasicForApplications_71" Languages="ko"/>
        <SlipstreamMsp Id="VisualBasicLangPackKB2803801_2"/>
      </MsiPackage>
      <MspPackage Id="VisualBasicLangPackKB2803801_2" SourceFile="$(var.RedistMicrosoftVisualBasicForApplications_71_Path)7.1\Patches\VBA71-KB2803801-x64_1042.msp" Compressed="no" PerMachine="yes" Permanent="yes">
        <wbb:PackageSource Repository="Redist-MicrosoftVisualBasicForApplications_71" Languages="ko"/>
      </MspPackage>

      <MsiPackage Id="VisualBasicLang2"  SourceFile="$(var.RedistMicrosoftVisualBasicForApplications_71_Path)7.1\$(var.bbVarProductTargetPlatform)\Vba71_1043.MSI"    Visible="yes" ForcePerMachine="yes" Compressed="no" Permanent="yes">
        <wbb:PackageSource Repository="Redist-MicrosoftVisualBasicForApplications_71" Languages="nl"/>
        <SlipstreamMsp Id="VisualBasicLangPackKB2803801_2"/>
      </MsiPackage>
      <MspPackage Id="VisualBasicLangPackKB2803801_2" SourceFile="$(var.RedistMicrosoftVisualBasicForApplications_71_Path)7.1\Patches\VBA71-KB2803801-x64_1043.msp" Compressed="no" PerMachine="yes" Permanent="yes">
        <wbb:PackageSource Repository="Redist-MicrosoftVisualBasicForApplications_71" Languages="nl"/>
      </MspPackage>

      <MsiPackage Id="VisualBasicLang2"  SourceFile="$(var.RedistMicrosoftVisualBasicForApplications_71_Path)7.1\$(var.bbVarProductTargetPlatform)\Vba71_1040.MSI"    Visible="yes" ForcePerMachine="yes" Compressed="no" Permanent="yes">
        <wbb:PackageSource Repository="Redist-MicrosoftVisualBasicForApplications_71" Languages="it"/>
        <SlipstreamMsp Id="VisualBasicLangPackKB2803801_2"/>
      </MsiPackage>
      <MspPackage Id="VisualBasicLangPackKB2803801_2" SourceFile="$(var.RedistMicrosoftVisualBasicForApplications_71_Path)7.1\Patches\VBA71-KB2803801-x64_1040.msp" Compressed="no" PerMachine="yes" Permanent="yes">
        <wbb:PackageSource Repository="Redist-MicrosoftVisualBasicForApplications_71" Languages="it"/>
      </MspPackage>

      <MsiPackage Id="VisualBasicLang2"  SourceFile="$(var.RedistMicrosoftVisualBasicForApplications_71_Path)7.1\$(var.bbVarProductTargetPlatform)\Vba71_1046.MSI"    Visible="yes" ForcePerMachine="yes" Compressed="no" Permanent="yes">
        <wbb:PackageSource Repository="Redist-MicrosoftVisualBasicForApplications_71" Languages="pt,pt-br"/>
        <SlipstreamMsp Id="VisualBasicLangPackKB2803801_2"/>
      </MsiPackage>
      <MspPackage Id="VisualBasicLangPackKB2803801_2" SourceFile="$(var.RedistMicrosoftVisualBasicForApplications_71_Path)7.1\Patches\VBA71-KB2803801-x64_1046.msp" Compressed="no" PerMachine="yes" Permanent="yes">
        <wbb:PackageSource Repository="Redist-MicrosoftVisualBasicForApplications_71" Languages="pt,pt-br"/>
      </MspPackage>

      <MsiPackage Id="VisualBasicLang2"  SourceFile="$(var.RedistMicrosoftVisualBasicForApplications_71_Path)7.1\$(var.bbVarProductTargetPlatform)\Vba71_1053.MSI"    Visible="yes" ForcePerMachine="yes" Compressed="no" Permanent="yes">
        <wbb:PackageSource Repository="Redist-MicrosoftVisualBasicForApplications_71" Languages="sv"/>
        <SlipstreamMsp Id="VisualBasicLangPackKB2803801_2"/>
      </MsiPackage>
      <MspPackage Id="VisualBasicLangPackKB2803801_2" SourceFile="$(var.RedistMicrosoftVisualBasicForApplications_71_Path)7.1\Patches\VBA71-KB2803801-x64_1053.msp" Compressed="no" PerMachine="yes" Permanent="yes">
        <wbb:PackageSource Repository="Redist-MicrosoftVisualBasicForApplications_71" Languages="sv"/>
      </MspPackage>

      <MsiPackage Id="VisualBasicLang2"  SourceFile="$(var.RedistMicrosoftVisualBasicForApplications_71_Path)7.1\$(var.bbVarProductTargetPlatform)\Vba71_2052.MSI"    Visible="yes" ForcePerMachine="yes" Compressed="no" Permanent="yes">
        <wbb:PackageSource Repository="Redist-MicrosoftVisualBasicForApplications_71" Languages="zh-cn"/>
        <SlipstreamMsp Id="VisualBasicLangPackKB2803801_2"/>
      </MsiPackage>
      <MspPackage Id="VisualBasicLangPackKB2803801_2" SourceFile="$(var.RedistMicrosoftVisualBasicForApplications_71_Path)7.1\Patches\VBA71-KB2803801-x64_2052.msp" Compressed="no" PerMachine="yes" Permanent="yes">
        <wbb:PackageSource Repository="Redist-MicrosoftVisualBasicForApplications_71" Languages="zh-cn"/>
      </MspPackage>

      <MsiPackage Id="VisualBasicLang2"  SourceFile="$(var.RedistMicrosoftVisualBasicForApplications_71_Path)7.1\$(var.bbVarProductTargetPlatform)\Vba71_3082.MSI"    Visible="yes" ForcePerMachine="yes" Compressed="no" Permanent="yes">
        <wbb:PackageSource Repository="Redist-MicrosoftVisualBasicForApplications_71" Languages="es"/>
        <SlipstreamMsp Id="VisualBasicLangPackKB2803801_2"/>
      </MsiPackage>
      <MspPackage Id="VisualBasicLangPackKB2803801_2" SourceFile="$(var.RedistMicrosoftVisualBasicForApplications_71_Path)7.1\Patches\VBA71-KB2803801-x64_3082.msp" Compressed="no" PerMachine="yes" Permanent="yes">
        <wbb:PackageSource Repository="Redist-MicrosoftVisualBasicForApplications_71" Languages="es"/>
      </MspPackage>

      <!--
            Using Framwork build number, as per OS Version. Complete details are avaialble here:
            https://msdn.microsoft.com/en-us/library/hh925568%28v=vs.110%29.aspx
            -->
      <ExePackage Id="DotNet452Full" InstallCommand="/q /norestart" Compressed="no" DetectCondition="(NetFramework45Version >= 394802)" Permanent="yes" PerMachine="yes" DisplayName="Microsoft .NET Framework 4.6.2" SourceFile="$(var.RedistDotNetFramework_462_Path)NDP462-KB3151800-x86-x64-AllOS-ENU.exe">
        <wbb:Feature EnableRepair="no"/>
        <wbb:PackageSource Repository="Redist-DotNetFramework_462"/>
      </ExePackage>

      <!--
      <ExePackage Id="VCRedistx64" DetectCondition="VC14_vcredist_x64_Installed" PerMachine="yes" Permanent="yes"
           InstallCommand="/log [WixBundleLog_VCRedistx64] /quiet /norestart" RepairCommand="/repair /quiet" Vital="no"
           SourceFile="$(var.MergemoduleMicrosoft_VC_140_Path)vc_redist.x64.exe" Compressed="no" >
        <wbb:Feature EnableRepair="no"/>
        <wbb:PackageSource Repository="Mergemodule-Microsoft_VC_14.0"/>
        <ExitCode Value="1638" Behavior="success"/>
      </ExePackage>
	  -->

    </PackageGroup>
  </Fragment>
</Wix>

