<?xml version="1.0" encoding="UTF-8"?>
<!--
#  $Source: RealityDbECPlugin/Install/Product_Files.wxs $
#
#  $Copyright: (c) 2016 Bentley Systems, Incorporated. All rights reserved. $
-->
<?include Defines.wxi?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Fragment>
    <ComponentGroup Id ="CG_ReadMeFiles">
      <!--ToDo: Adjust the path of the ReadMe, I suggest have it in the Install folder to not harvest it with Heat.exe.-->
      <Component Id="readme" Guid="{2E0678D7-0ED4-43BB-AAD8-F25D0795C1C6}" SharedDllRefCount="yes" Directory="RealityDbECPlugin">        
        <File Id="readme" KeyPath="yes" Source="$(var.InstallReadMeDir)\$(var.ReadMeName)" />
      </Component>
      <Component Id="EulaFile" Directory="RealityDbECPlugin" Guid="{C1169BEB-E2D4-4CA6-A715-C8CFF21E653F}">
        <File Id="EulaFile" KeyPath="yes" Source="$(var.InstallReadMeDir)$(var.EulaName)" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <ComponentGroup Id ="CG_Extensions">
      <Component Id="Bentley.RealityDbECPlugin.dll" Directory="Extensions" Guid="{FC6641BC-6377-4C0B-9FB8-35EC334FF0C9}">
        <File Id="Bentley.RealityDbECPlugin.dll" KeyPath="yes" Source="$(var.ProductDir)Bentley.RealityDbECPlugin.dll" />
        <util:XmlConfig Id="SetWebconfigAccessControlAllowOriginValue" Action="create" Node="value" ElementPath="//appSettings/add[\[]@key='AccessControlAllowOrigin'[\]]" Name="value" Value="*" File="[INSTALLDIR]Web.config" On="install" Sequence="1"/>
        <util:XmlConfig Id="CreateElementecomconfig1" Action="create" Node="element" ElementPath="//ECConfiguration/StartupRepositories" Name="Repository" File="[INSTALLDIR]ecom.config" On="install" Sequence="1">
          <util:XmlConfig Id="CreateElementecomconfig2" ElementId="CreateElementecomconfig1" Name="pluginId" Value="IndexECPlugin" File="[INSTALLDIR]ecom.config" />
          <util:XmlConfig Id="CreateElementecomconfig3" ElementId="CreateElementecomconfig1" Name="location" Value="Server" File="[INSTALLDIR]ecom.config" />
        </util:XmlConfig>
        <util:XmlConfig Id="RemoveElementecomconfig1" Action="delete" Node="element" ElementPath="//ECConfiguration/StartupRepositories" VerifyPath="//ECConfiguration/StartupRepositories/Repository[\[]@pluginId='IndexECPlugin'[\]]" File="[INSTALLDIR]ecom.config" On="uninstall" Sequence="2"/>
        <util:XmlConfig Id="CreateElementecomconfig4" Action="create" Node="element" ElementPath="//ECConfiguration/Extensions" Name="Extension" File="[INSTALLDIR]ecom.config" On="install" Sequence="3">
          <util:XmlConfig Id="CreateElementecomconfig5" ElementId="CreateElementecomconfig4" Name="assemblyPath" Value="bin\Extensions\Bentley.RealityDbECPlugin.dll" File="[INSTALLDIR]ecom.config" />
        </util:XmlConfig>
        <util:XmlConfig Id="RemoveElementecomconfig2" Action="delete" Node="element" ElementPath="//ECConfiguration/Extensions" VerifyPath="//ECConfiguration/Extensions/Extension[\[]@assemblyPath='bin\\Extensions\\Bentley.RealityDbECPlugin.dll'[\]]" File="[INSTALLDIR]ecom.config" On="uninstall" Sequence="4"/>
        <util:XmlConfig Id="CreateElementwebconfig1" Action="create" Node="element" ElementPath="/configuration" Name="configSections" File="[INSTALLDIR]web.config" On="install" Sequence="5" />
        <util:XmlConfig Id="CreateElementwebconfig2" Action="create" Node="element" ElementPath="//configSections" Name="section" File="[INSTALLDIR]web.config" On="install" Sequence="6">
          <util:XmlConfig Id="CreateElementwebconfig3" ElementId="CreateElementwebconfig2" Name="name" Value="microsoft.identityModel" File="[INSTALLDIR]web.config" />
          <util:XmlConfig Id="CreateElementwebconfig4" ElementId="CreateElementwebconfig2" Name="type" Value="Microsoft.IdentityModel.Configuration.MicrosoftIdentityModelSection, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" File="[INSTALLDIR]web.config" />
        </util:XmlConfig>
        <util:XmlConfig Id="CreateElementwebconfig5" Action="create" Node="element" ElementPath="/configuration" Name="microsoft.identityModel" File="[INSTALLDIR]web.config" On="install" Sequence="7" />
        <util:XmlConfig Id="CreateElementwebconfig6" Action="create" Node="element" ElementPath="//microsoft.identityModel" Name="service" File="[INSTALLDIR]web.config" On="install" Sequence="8">
            <util:XmlConfig Id="CreateElementwebconfig7" ElementId="CreateElementwebconfig6" Name="saveBootstrapTokens" Value="true" File="[INSTALLDIR]web.config" />
        </util:XmlConfig>
        <util:XmlConfig Id="CreateElementwebconfig8" Action="create" Node="element" ElementPath="//microsoft.identityModel/service" Name="audienceUris" File="[INSTALLDIR]web.config" On="install" Sequence="9">
          <util:XmlConfig Id="CreateElementwebconfig9" ElementId="CreateElementwebconfig8" Name="mode" Value="Never" File="[INSTALLDIR]web.config" />
        </util:XmlConfig>
        <util:XmlConfig Id="CreateElementwebconfig10" Action="create" Node="element" ElementPath="//microsoft.identityModel/service" Name="federatedAuthentication" File="[INSTALLDIR]web.config" On="install" Sequence="10" />
        <util:XmlConfig Id="CreateElementwebconfig11" Action="create" Node="element" ElementPath="//microsoft.identityModel/service/federatedAuthentication" Name="cookieHandler" File="[INSTALLDIR]web.config" On="install" Sequence="11">
          <util:XmlConfig Id="CreateElementwebconfig12" ElementId="CreateElementwebconfig11" Name="requireSsl" Value="true" File="[INSTALLDIR]web.config" />
        </util:XmlConfig>
        <util:XmlConfig Id="CreateElementwebconfig13" Action="create" Node="element" ElementPath="//microsoft.identityModel/service/federatedAuthentication" Name="wsFederation" File="[INSTALLDIR]web.config" On="install" Sequence="12">
          <util:XmlConfig Id="CreateElementwebconfig14" ElementId="CreateElementwebconfig13" Name="passiveRedirectEnabled" Value="false" File="[INSTALLDIR]web.config" />
          <util:XmlConfig Id="CreateElementwebconfig15" ElementId="CreateElementwebconfig13" Name="issuer" Value="https://ims.bentley.com/" File="[INSTALLDIR]web.config" />
          <util:XmlConfig Id="CreateElementwebconfig16" ElementId="CreateElementwebconfig13" Name="realm" Value="https://dev-wsg20-eus.cloudapp.net/" File="[INSTALLDIR]web.config" />
          <util:XmlConfig Id="CreateElementwebconfig17" ElementId="CreateElementwebconfig13" Name="requireHttps" Value="true" File="[INSTALLDIR]web.config" />
        </util:XmlConfig>
        <util:XmlConfig Id="CreateElementwebconfig18" Action="create" Node="element" ElementPath="//microsoft.identityModel/service" Name="certificateValidation" File="[INSTALLDIR]web.config" On="install" Sequence="13">
          <util:XmlConfig Id="CreateElementwebconfig19" ElementId="CreateElementwebconfig18" Name="certificateValidationMode" Value="PeerOrChainTrust" File="[INSTALLDIR]web.config" />
        </util:XmlConfig>
        <util:XmlConfig Id="CreateElementwebconfig20" Action="create" Node="element" ElementPath="//microsoft.identityModel/service" Name="issuerNameRegistry" File="[INSTALLDIR]web.config" On="install" Sequence="14">
          <util:XmlConfig Id="CreateElementwebconfig21" ElementId="CreateElementwebconfig20" Name="type" Value="Microsoft.IdentityModel.Tokens.ConfigurationBasedIssuerNameRegistry,Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" File="[INSTALLDIR]web.config" />
        </util:XmlConfig>
        <util:XmlConfig Id="CreateElementwebconfig22" Action="create" Node="element" ElementPath="//microsoft.identityModel/service/issuerNameRegistry" Name="trustedIssuers" File="[INSTALLDIR]web.config" On="install" Sequence="15" />
        <util:XmlConfig Id="CreateElementwebconfig23" Action="create" Node="element" ElementPath="//microsoft.identityModel/service/issuerNameRegistry/trustedIssuers" Name="add" File="[INSTALLDIR]web.config" On="install" Sequence="16">
          <util:XmlConfig Id="CreateElementwebconfig24" ElementId="CreateElementwebconfig23" Name="thumbprint" Value="043349d0e3890dbb83208b52ad2b135a3d2c5042" File="[INSTALLDIR]web.config" />
          <util:XmlConfig Id="CreateElementwebconfig25" ElementId="CreateElementwebconfig23" Name="name" Value="https://auth.bentley.com/" File="[INSTALLDIR]web.config" />
        </util:XmlConfig>
      </Component>
      <Component Id="Bentley_RealityDbECPlugin_Settings.01.00.ecschema.xml" Directory="Extensions" Guid="{56481A18-4ABF-441E-9484-D53332B533CD}">
        <File Id="Bentley_RealityDbECPlugin_Settings.01.00.ecschema.xml" KeyPath="yes" Source="$(var.InstallDataDir)Bentley_RealityDbECPlugin_Settings.01.00.ecschema.xml" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <ComponentGroup Id ="CG_Config">
      <!--Component Id="ECSchemaNewDB.xml" Directory="INSTALLDIR" Guid="{E9A59A8A-F810-4299-A8C0-963BABA6434E}">
        <File Id="ECSchemaNewDB.xml" KeyPath="yes" Source="$(var.InstallDataDir)ECSchemaNewDB.xml" />
      </Component-->
      <!--Component Id="newDbLocation.config" Directory="INSTALLDIR" Guid="{D3C4425C-BFCE-4D3D-81FE-779EFDED3CC9}">
        <File Id="newDbLocation.config" KeyPath="yes" Source="$(var.InstallDataDir)newDbLocation.config" />
        <util:XmlConfig Id="SetnewDbLocationconfigValue1" Action="create" Node="value" ElementPath="//SchemaLocation" Value="[#ECSchemaNewDB.xml]" File="[#newDbLocation.config]" On="install" Sequence="1"/>
        <util:XmlConfig Id="SetnewDbLocationconfigValue2" Action="create" Node="value" ElementPath="//PackagesLocation" Value="[PackagesCache]" File="[#newDbLocation.config]" On="install" Sequence="2"/>
      </Component-->
      <Component Id="logging.config.xml" Directory="INSTALLDIR" Guid="{9FE912AB-B3A2-40EE-84EE-1CA0DEDE3FF8}">
        <File Id="logging.config.xml" KeyPath="yes" Source="$(var.InstallDataDir)logging.config.xml" />
      </Component>
      <!--Component Id="CreateOSMEntry.sql" Directory="RealityDbECPlugin" Guid="{9FE912AB-B3A2-40EE-84EE-1CA0DEDE3FF8}">
        <File Id="CreateOSMEntry.sql" KeyPath="yes" Source="$(var.InstallDataDir)CreateOSMEntry.sql" />
      </Component-->
      <Component Id="PackagesCache" Directory="PackagesCache" Guid="{27D6F18C-916E-4E25-AFCD-F69ED395BB21}">
        <CreateFolder/>        
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <ComponentGroup Id ="CG_AppFiles">
      <Component Id="BentleyWMSPackageNet.dll" Directory="bin" Guid="{90718A54-D2CD-474F-BC79-D8AAD2DCE6C3}">
        <File Id="BentleyWMSPackageNet.dll" KeyPath="yes" Source="$(var.ProductDir)BentleyWMSPackageNet.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <ComponentGroup Id ="CG_BentleyFiles">
      <Component Id="BeCurlB02.dll" Directory="bin" Guid="{11EB6944-AFF3-4078-A389-DEC290D3AB07}">
        <File Id="BeCurlB02.dll" KeyPath="yes" Source="$(var.ProductDir)BeCurlB02.dll" />
      </Component>
      <Component Id="BeIcu4cB02.dll" Directory="bin" Guid="{3425543D-91A9-4524-849E-1FAE356317F9}">
        <File Id="BeIcu4cB02.dll" KeyPath="yes" Source="$(var.ProductDir)BeIcu4cB02.dll" />
      </Component>
      <Component Id="BeLibxml2B02.dll" Directory="bin" Guid="{A34FE1FE-E8E3-4731-8EAA-493570A6792F}">
        <File Id="BeLibxml2B02.dll" KeyPath="yes" Source="$(var.ProductDir)BeLibxml2B02.dll" />
      </Component>
      <Component Id="BentleyB02.dll" Directory="bin" Guid="{761EFBFA-783D-4641-BFCD-D3BC2F465F4B}">
        <File Id="BentleyB02.dll" KeyPath="yes" Source="$(var.ProductDir)BentleyB02.dll" />
      </Component>
      <Component Id="BentleyGeomB02.dll" Directory="bin" Guid="{66A8B1B7-650F-4BAA-B91C-A978420299E7}">
        <File Id="BentleyGeomB02.dll" KeyPath="yes" Source="$(var.ProductDir)BentleyGeomB02.dll" />
      </Component>
      <Component Id="BeOpenSSLB02.dll" Directory="bin" Guid="{335ABA3A-4B35-4FC0-82AC-5D3B69E4C5DA}">
        <File Id="BeOpenSSLB02.dll" KeyPath="yes" Source="$(var.ProductDir)BeOpenSSLB02.dll" />
      </Component>
      <Component Id="BeSQLiteB02.dll" Directory="bin" Guid="{641FED9B-9A14-4CB1-BC22-3DE18562CF44}">
        <File Id="BeSQLiteB02.dll" KeyPath="yes" Source="$(var.ProductDir)BeSQLiteB02.dll" />
      </Component>
      <Component Id="BeXmlB02.dll" Directory="bin" Guid="{3C48BDAE-0D90-4CDA-8993-70CAAB456216}">
        <File Id="BeXmlB02.dll" KeyPath="yes" Source="$(var.ProductDir)BeXmlB02.dll" />
      </Component>
      <Component Id="NCSEcw.dll" Directory="bin" Guid="{20521954-2999-45EC-B45D-93F8DECB776B}">
        <File Id="NCSEcw.dll" KeyPath="yes" Source="$(var.ProductDir)NCSEcw.dll" />
      </Component>
      <Component Id="RealityPackage.dll" Directory="bin" Guid="{D4049E0D-CDD5-4BCE-BBA5-9A74488B4454}">
        <File Id="RealityPackage.dll" KeyPath="yes" Source="$(var.ProductDir)RealityPackage.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
