#--------------------------------------------------------------------------------------
#
#     $Source: Configuration/CEconfig/appl/ClassEditor.cfg $
#
#  $Copyright: (c) 2018 Bentley Systems, Incorporated. All rights reserved. $
#
#--------------------------------------------------------------------------------------
EC_EXTENSION_ASSEMBLIES < $(MSDIR)Assemblies\ECFramework\extensions\InformationModelBuilder.dll
EC_EXTENSION_ASSEMBLIES < $(MSDIR)Assemblies\ECFramework\extensions\Bentley.EC.ClassEditor.Reporting.dll
EC_EXTENSION_ASSEMBLIES < $(MSDIR)Assemblies\ECFramework\extensions\Bentley.EC.SchemaMappingPlugin.dll
EC_EXTENSION_ASSEMBLIES < $(MSDIR)Assemblies\ECFramework\extensions\Bentley.EC.ClassEditor.SchemaDifferencing.dll
EC_EXTENSION_ASSEMBLIES < $(MSDIR)Assemblies\ECFramework\extensions\Bentley.EC.EngineeringUnitsExtension.dll
EC_EXTENSION_ASSEMBLIES < $(MSDIR)Assemblies\ECFramework\extensions\Bentley.JSpace.ClassEditorPlugin.dll
EC_EXTENSION_ASSEMBLIES < $(MSDIR)Assemblies\ECFramework\ECPersistenceProvider.dll
EC_EXTENSION_ASSEMBLIES < $(MSDIR)Assemblies\ECFramework\ECClassEditorLogger.dll
EC_EXTENSION_ASSEMBLIES < $(MSDIR)Assemblies\ECFramework\ECSchemaImageProvider.dll
EC_EXTENSION_ASSEMBLIES < $(MSDIR)Assemblies\ECFramework\ContentControlPlugins.dll
EC_EXTENSION_ASSEMBLIES < $(MSDIR)Assemblies\ECFramework\ECClassEditorPresentation.dll
EC_EXTENSION_ASSEMBLIES < $(MSDIR)Assemblies\ECFramework\Bentley.EC.ClassEditor.Import.dll
EC_EXTENSION_ASSEMBLIES < $(MSDIR)Assemblies\ECFramework\Bentley.EC.ClassEditor.TextImport.dll
EC_EXTENSION_ASSEMBLIES < $(MSDIR)Assemblies\ECFramework\Bentley.EC.ClassEditor.CEFileMenu.dll
EC_EXTENSION_ASSEMBLIES < $(MSDIR)Assemblies\ECFramework\Bentley.CEECSchemaFileMenuProvider.dll
