#---------------------------------------------------------------------------------------------
#  Copyright (c) Bentley Systems, Incorporated. All rights reserved.
#  See COPYRIGHT.md in the repository root for full copyright notice.
#---------------------------------------------------------------------------------------------

# Define "PWDIR=ProjectWise Explorer install path" here to enable specific
# ProjectWise version desktop integration.
# PWDIR=C:/Program Files/Bentley/ProjectWise/

# Uncomment to disable ProjectWise integration when this product is launched from the desktop.
# PW_DISABLE_INTEGRATION_FROM_DESKTOP=1

%if defined (PW_DISABLE_INTEGRATION_FROM_DESKTOP)
    %if !defined (_PWEXPLORER)
        PW_DISABLE_INTEGRATION=1
    %endif

    # This variable is not needed outside this file.
    %undef PW_DISABLE_INTEGRATION_FROM_DESKTOP
%endif

%if !defined (PW_DISABLE_INTEGRATION)
    %if !defined (PWDIR)
        # Check current user first
        PWDIR=${registryread{"HKEY_CURRENT_USER\SOFTWARE\Bentley\ProjectWise\Path"}}
        %if !exists ($(PWDIR))
            # Fallback to machine level settings
            PWDIR=${registryread{"HKEY_LOCAL_MACHINE\SOFTWARE\Bentley\ProjectWise\Path"}}
        %endif
    %endif

    %if defined (PWDIR) && exists ($(PWDIR)bin/mcm.cfg)
        %include $(PWDIR)bin/mcm.cfg
    %endif
%endif

