USE [master]
GO

/****** Object:  Database [RMIndex]    Script Date: 10/16/2015 11:37:58 AM ******/
IF EXISTS(select * from sys.databases where name='RMIndex')
DROP DATABASE RMIndex

CREATE DATABASE [RMIndex]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RMIndex', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\RMIndex.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'RMIndex_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\RMIndex_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RMIndex].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RMIndex]
GO
/****** Object:  User [RealityDbECPlugin]    Script Date: 10/16/2015 11:37:58 AM ******/

CREATE LOGIN RealityDbECPluginLogin WITH password='[!0#"t{)*G79](H'
GO
CREATE USER [RealityDbECPlugin] FOR LOGIN [RealityDbECPluginLogin] WITH DEFAULT_SCHEMA=[dbo]
GO
EXEC sp_addrolemember 'db_datareader', 'RealityDbECPlugin'
GO
/****** Object:  Table [dbo].[Metadatas]    Script Date: 10/16/2015 11:37:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Metadatas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RawMetadata] [nvarchar](max) NULL,
	[RawMetadataFormat] [nvarchar](50) NULL,
	[DisplayStyle] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[ContactInformation] [nvarchar](max) NULL,
	[Keywords] [nvarchar](max) NULL,
	[Legal] [nvarchar](max) NULL,
	[Lineage] [nvarchar](max) NULL,
	[Provenance] [nvarchar](max) NULL,
	[IdStr]  AS (CONVERT([nvarchar](50),[ID])) PERSISTED,
 CONSTRAINT [PK_dbo.Metadatas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OsmSources]    Script Date: 10/16/2015 11:37:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OsmSources](
	[Id] [int] NOT NULL,
    [AlternateURL1] [nvarchar](max) NULL,
    [AlternateURL2] [nvarchar](max) NULL,
	[IdStr]  AS (CONVERT([nvarchar](50),[ID])) PERSISTED,
 CONSTRAINT [PK_dbo.OsmSources] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OtherSources]    Script Date: 10/16/2015 11:37:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OtherSources](
	[Id] [int] NOT NULL,
	[IdStr]  AS (CONVERT([nvarchar](50),[ID])) PERSISTED,
 CONSTRAINT [PK_dbo.OtherSources] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
)

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Packages]    Script Date: 11/6/2015 2:30:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Packages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[FileContent] [varbinary](max) NOT NULL,
	[CreationTime] [datetime] NOT NULL,
 CONSTRAINT [PK_Packages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
GRANT INSERT ON [dbo].[Packages] TO [RealityDbECPlugin] AS [dbo]
GO
GRANT SELECT ON [dbo].[Packages] TO [RealityDbECPlugin] AS [dbo]
GO
/****** Object:  Table [dbo].[Servers]    Script Date: 10/16/2015 11:37:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Servers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CommunicationProtocol] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[URL] [nvarchar](max) NULL,
	[ServerContactInformation] [nvarchar](max) NULL,
	[Fees] [nvarchar](max) NULL,
	[Legal] [nvarchar](max) NULL,
	[AccessConstraints] [nvarchar](max) NULL,
	[Online] [bit] NOT NULL,
	[LastCheck] [datetime] NOT NULL,
	[LastTimeOnline] [datetime] NOT NULL,
	[Latency] [float] NOT NULL,
	[MeanReachabilityStats] [int] NOT NULL,
	[State] [nvarchar](max) NULL,
	[Type] [nvarchar](max) NULL,
	[IdStr]  AS (CONVERT([nvarchar](50),[ID])) PERSISTED,
 CONSTRAINT [PK_dbo.Servers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SpatialDataSources]    Script Date: 10/16/2015 11:37:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SpatialDataSources](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MainURL] [nvarchar](max) NULL,
	[CompoundType] [nvarchar](max) NULL,
	[LocationInCompound] [nvarchar](max) NULL,
	[DataSourceType] [nvarchar](max) NULL,
	[SisterFiles] [nvarchar](max) NULL,
	[Server_Id] [int] NULL,
	[IdStr]  AS (CONVERT([nvarchar](50),[ID])) PERSISTED,
	[FileSize] [bigint] NULL,
 CONSTRAINT [PK_dbo.SpatialDataSources] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SpatialEntities]    Script Date: 10/16/2015 11:37:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SpatialEntities](
	[Id] [int] NOT NULL,
	[IdStr]  AS (CONVERT([nvarchar](50),[ID])) PERSISTED,
 CONSTRAINT [PK_dbo.SpatialEntities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SpatialEntityBases]    Script Date: 10/16/2015 11:37:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SpatialEntityBases](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Footprint] [geometry] NULL,
	[Name] [nvarchar](max) NULL,
	[Keywords] [nvarchar](max) NULL,
	[AssociateFile] [nvarchar](max) NULL,
	[ProcessingDescription] [nvarchar](max) NULL,
	[DataSourceTypesAvailable] [nvarchar](max) NULL,
	[AccuracyResolutionDensity] [nvarchar](max) NULL,
	[ParentDataset_Id] [int] NULL,
	[Thumbnail_Id] [int] NULL,
	[Metadata_Id] [int] NULL,
	[IdStr]  AS (CONVERT([nvarchar](50),[ID])) PERSISTED,
	[Date] [date] NULL,
	[Classification] [nvarchar](100) NULL,
 CONSTRAINT [PK_dbo.SpatialEntityBases] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SpatialEntityDatasets]    Script Date: 10/16/2015 11:37:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SpatialEntityDatasets](
	[Id] [int] NOT NULL,
	[AlternateDataset_Id] [int] NULL,
	[Processable] [bit] NOT NULL,
	[IdStr]  AS (CONVERT([nvarchar](50),[ID])) PERSISTED,
 CONSTRAINT [PK_dbo.SpatialEntityDatasets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SpatialEntitySpatialDataSources]    Script Date: 10/16/2015 11:37:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpatialEntitySpatialDataSources](
	[SpatialEntity_Id] [int] NOT NULL,
	[SpatialDataSource_Id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SpatialEntitySpatialDataSources] PRIMARY KEY CLUSTERED 
(
	[SpatialEntity_Id] ASC,
	[SpatialDataSource_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Thumbnails]    Script Date: 10/16/2015 11:37:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Thumbnails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ThumbnailProvenance] [nvarchar](max) NULL,
	[ThumbnailFormat] [nvarchar](max) NULL,
	[ThumbnailWidth] [nvarchar](max) NULL,
	[ThumbnailHeight] [nvarchar](max) NULL,
	[ThumbnailStamp] [nvarchar](max) NULL,
	[ThumbnailData] [varbinary](max) NULL,
	[ThumbnailGenerationDetails] [nvarchar](max) NULL,
	[IdStr]  AS (CONVERT([nvarchar](50),[ID])) PERSISTED,
 CONSTRAINT [PK_dbo.Thumbnails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[WMSLayers]    Script Date: 10/16/2015 11:37:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[WMSLayers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Title] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[BoundingBox] [geometry] NULL,
	[CoordinateSystems] [nvarchar](max) NULL,
	[ParentLayer_Id] [int] NULL,
	[WMSServer_Id] [int] NOT NULL,
	[IdStr]  AS (CONVERT([nvarchar](50),[ID])) PERSISTED,
 CONSTRAINT [PK_dbo.WMSLayers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[WMSServers]    Script Date: 10/16/2015 11:37:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[WMSServers](
	[Id] [int] NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[NumLayers] [int] NULL,
	[Version] [nvarchar](max) NULL,
	[GetCapabilitiesURL] [nvarchar](max) NULL,
	[SupportedFormats] [nvarchar](max) NULL,
	[GetMapURL] [nvarchar](max) NULL,
	[GetMapURLQuery] [nvarchar](max) NULL,
	[IdStr]  AS (CONVERT([nvarchar](50),[ID])) PERSISTED,
 CONSTRAINT [PK_dbo.WMSServers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[WMSSources]    Script Date: 10/16/2015 11:37:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[WMSSources](
	[Id] [int] NOT NULL,
	[Layers] [nvarchar](max) NULL,
	[Styles] [nvarchar](max) NULL,
	[Formats] [nvarchar](max) NULL,
	[IdStr]  AS (CONVERT([nvarchar](50),[ID])) PERSISTED,
 CONSTRAINT [PK_dbo.WMSSources] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[SpatialEntityWithDetailsView]    Script Date: 10/16/2015 11:37:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE VIEW [dbo].[SpatialEntityWithDetailsView]
AS
SELECT        dbo.SpatialEntityBases.Id, dbo.SpatialEntityBases.Footprint, dbo.SpatialEntityBases.Name, dbo.Metadatas.Description, dbo.Metadatas.ContactInformation, dbo.Metadatas.Keywords, dbo.Metadatas.Legal, 
                         dbo.SpatialEntityBases.ProcessingDescription, dbo.SpatialEntityBases.DataSourceTypesAvailable, dbo.SpatialEntityBases.Thumbnail_Id, dbo.SpatialEntityBases.ParentDataset_Id, dbo.SpatialEntityBases.IdStr, 
                         dbo.SpatialEntityBases.AccuracyResolutionDensity, dbo.SpatialEntityBases.Date, dbo.SpatialEntityBases.Classification
FROM            dbo.SpatialEntityBases INNER JOIN
                         dbo.Metadatas ON dbo.SpatialEntityBases.Metadata_Id = dbo.Metadatas.Id


GO
SET ANSI_PADDING ON
SET IDENTITY_INSERT [dbo].[Metadatas] ON 

INSERT [dbo].[Metadatas] ([Id], [RawMetadata], [RawMetadataFormat], [DisplayStyle], [Description], [ContactInformation], [Keywords], [Legal], [Lineage], [Provenance]) VALUES (1, NULL, NULL, NULL, NULL, NULL, NULL, N'© OpenStreetMap contributors', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Metadatas] OFF
SET ANSI_PADDING OFF
SET ANSI_PADDING ON
SET IDENTITY_INSERT [dbo].[SpatialDataSources] ON 

INSERT [dbo].[SpatialDataSources] ([Id], [MainURL], [CompoundType], [LocationInCompound], [DataSourceType], [SisterFiles], [Server_Id], [FileSize]) VALUES (1, N'http://www.openstreetmap.org/api/0.6/map?', NULL, NULL, N'OSM', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[SpatialDataSources] OFF
SET ANSI_PADDING OFF
SET ANSI_PADDING ON

INSERT [dbo].[OsmSources] ([Id], [AlternateURL1], [AlternateURL2]) VALUES (1, N'http://www.overpass-api.de/api/xapi_meta?', N'http://overpass.osm.rambler.ru/cgi/xapi_meta?')
SET ANSI_PADDING OFF
SET ANSI_PADDING ON

INSERT [dbo].[SpatialEntities] ([Id]) VALUES (1)
SET ANSI_PADDING OFF
SET ANSI_PADDING ON
SET IDENTITY_INSERT [dbo].[SpatialEntityBases] ON 

INSERT [dbo].[SpatialEntityBases] ([Id], [Footprint], [Name], [Keywords], [AssociateFile], [ProcessingDescription], [DataSourceTypesAvailable], [AccuracyResolutionDensity], [ParentDataset_Id], [Thumbnail_Id], [Metadata_Id], [Date], [Classification]) VALUES (1, 0xE610000001040500000000000000008066C000000000008056C000000000008066C0000000000080564000000000008066400000000000805640000000000080664000000000008056C000000000008066C000000000008056C001000000020000000001000000FFFFFFFF0000000003, N'OpenStreetMap', NULL, NULL, NULL, N'OSM', NULL, NULL, NULL, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[SpatialEntityBases] OFF
SET ANSI_PADDING OFF
INSERT [dbo].[SpatialEntitySpatialDataSources] ([SpatialEntity_Id], [SpatialDataSource_Id]) VALUES (1, 1)
/****** Object:  Index [IX_Id]    Script Date: 10/16/2015 11:37:58 AM ******/
CREATE NONCLUSTERED INDEX [IX_Id] ON [dbo].[OtherSources]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Server_Id]    Script Date: 10/16/2015 11:37:58 AM ******/
CREATE NONCLUSTERED INDEX [IX_Server_Id] ON [dbo].[SpatialDataSources]
(
	[Server_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Id]    Script Date: 10/16/2015 11:37:58 AM ******/
CREATE NONCLUSTERED INDEX [IX_Id] ON [dbo].[SpatialEntities]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Metadata_Id]    Script Date: 10/16/2015 11:37:58 AM ******/
CREATE NONCLUSTERED INDEX [IX_Metadata_Id] ON [dbo].[SpatialEntityBases]
(
	[Metadata_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ParentDataset_Id]    Script Date: 10/16/2015 11:37:58 AM ******/
CREATE NONCLUSTERED INDEX [IX_ParentDataset_Id] ON [dbo].[SpatialEntityBases]
(
	[ParentDataset_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Thumbnail_Id]    Script Date: 10/16/2015 11:37:58 AM ******/
CREATE NONCLUSTERED INDEX [IX_Thumbnail_Id] ON [dbo].[SpatialEntityBases]
(
	[Thumbnail_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AlternateDataset_Id]    Script Date: 10/16/2015 11:37:58 AM ******/
CREATE NONCLUSTERED INDEX [IX_AlternateDataset_Id] ON [dbo].[SpatialEntityDatasets]
(
	[AlternateDataset_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Id]    Script Date: 10/16/2015 11:37:58 AM ******/
CREATE NONCLUSTERED INDEX [IX_Id] ON [dbo].[SpatialEntityDatasets]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SpatialDataSource_Id]    Script Date: 10/16/2015 11:37:58 AM ******/
CREATE NONCLUSTERED INDEX [IX_SpatialDataSource_Id] ON [dbo].[SpatialEntitySpatialDataSources]
(
	[SpatialDataSource_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SpatialEntity_Id]    Script Date: 10/16/2015 11:37:58 AM ******/
CREATE NONCLUSTERED INDEX [IX_SpatialEntity_Id] ON [dbo].[SpatialEntitySpatialDataSources]
(
	[SpatialEntity_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ParentLayer_Id]    Script Date: 10/16/2015 11:37:58 AM ******/
CREATE NONCLUSTERED INDEX [IX_ParentLayer_Id] ON [dbo].[WMSLayers]
(
	[ParentLayer_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_WMSServer_Id]    Script Date: 10/16/2015 11:37:58 AM ******/
CREATE NONCLUSTERED INDEX [IX_WMSServer_Id] ON [dbo].[WMSLayers]
(
	[WMSServer_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Id]    Script Date: 10/16/2015 11:37:58 AM ******/
CREATE NONCLUSTERED INDEX [IX_Id] ON [dbo].[WMSServers]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Id]    Script Date: 10/16/2015 11:37:58 AM ******/
CREATE NONCLUSTERED INDEX [IX_Id] ON [dbo].[WMSSources]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OsmSources]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OsmSources_dbo.SpatialDataSources_Id] FOREIGN KEY([Id])
REFERENCES [dbo].[SpatialDataSources] ([Id])
GO
ALTER TABLE [dbo].[OsmSources] CHECK CONSTRAINT [FK_dbo.OsmSources_dbo.SpatialDataSources_Id]
GO
ALTER TABLE [dbo].[OtherSources]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OtherSources_dbo.SpatialDataSources_Id] FOREIGN KEY([Id])
REFERENCES [dbo].[SpatialDataSources] ([Id])
GO
ALTER TABLE [dbo].[OtherSources] CHECK CONSTRAINT [FK_dbo.OtherSources_dbo.SpatialDataSources_Id]
GO
ALTER TABLE [dbo].[SpatialDataSources]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SpatialDataSources_dbo.Servers_Server_Id] FOREIGN KEY([Server_Id])
REFERENCES [dbo].[Servers] ([Id])
GO
ALTER TABLE [dbo].[SpatialDataSources] CHECK CONSTRAINT [FK_dbo.SpatialDataSources_dbo.Servers_Server_Id]
GO
ALTER TABLE [dbo].[SpatialEntities]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SpatialEntities_dbo.SpatialEntityBases_Id] FOREIGN KEY([Id])
REFERENCES [dbo].[SpatialEntityBases] ([Id])
GO
ALTER TABLE [dbo].[SpatialEntities] CHECK CONSTRAINT [FK_dbo.SpatialEntities_dbo.SpatialEntityBases_Id]
GO
ALTER TABLE [dbo].[SpatialEntityBases]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SpatialEntityBases_dbo.Metadatas_Metadata_Id] FOREIGN KEY([Metadata_Id])
REFERENCES [dbo].[Metadatas] ([Id])
GO
ALTER TABLE [dbo].[SpatialEntityBases] CHECK CONSTRAINT [FK_dbo.SpatialEntityBases_dbo.Metadatas_Metadata_Id]
GO
ALTER TABLE [dbo].[SpatialEntityBases]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SpatialEntityBases_dbo.SpatialEntityDatasets_ParentDataset_Id] FOREIGN KEY([ParentDataset_Id])
REFERENCES [dbo].[SpatialEntityDatasets] ([Id])
GO
ALTER TABLE [dbo].[SpatialEntityBases] CHECK CONSTRAINT [FK_dbo.SpatialEntityBases_dbo.SpatialEntityDatasets_ParentDataset_Id]
GO
ALTER TABLE [dbo].[SpatialEntityBases]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SpatialEntityBases_dbo.Thumbnails_Thumbnail_Id] FOREIGN KEY([Thumbnail_Id])
REFERENCES [dbo].[Thumbnails] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SpatialEntityBases] CHECK CONSTRAINT [FK_dbo.SpatialEntityBases_dbo.Thumbnails_Thumbnail_Id]
GO
ALTER TABLE [dbo].[SpatialEntityDatasets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SpatialEntityDatasets_dbo.SpatialEntityBases_Id] FOREIGN KEY([Id])
REFERENCES [dbo].[SpatialEntityBases] ([Id])
GO
ALTER TABLE [dbo].[SpatialEntityDatasets] CHECK CONSTRAINT [FK_dbo.SpatialEntityDatasets_dbo.SpatialEntityBases_Id]
GO
ALTER TABLE [dbo].[SpatialEntityDatasets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SpatialEntityDatasets_dbo.SpatialEntityDatasets_AlternateDataset_Id] FOREIGN KEY([AlternateDataset_Id])
REFERENCES [dbo].[SpatialEntityDatasets] ([Id])
GO
ALTER TABLE [dbo].[SpatialEntityDatasets] CHECK CONSTRAINT [FK_dbo.SpatialEntityDatasets_dbo.SpatialEntityDatasets_AlternateDataset_Id]
GO
ALTER TABLE [dbo].[SpatialEntitySpatialDataSources]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SpatialEntitySpatialDataSources_dbo.SpatialDataSources_SpatialDataSource_Id] FOREIGN KEY([SpatialDataSource_Id])
REFERENCES [dbo].[SpatialDataSources] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SpatialEntitySpatialDataSources] CHECK CONSTRAINT [FK_dbo.SpatialEntitySpatialDataSources_dbo.SpatialDataSources_SpatialDataSource_Id]
GO
ALTER TABLE [dbo].[SpatialEntitySpatialDataSources]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SpatialEntitySpatialDataSources_dbo.SpatialEntities_SpatialEntity_Id] FOREIGN KEY([SpatialEntity_Id])
REFERENCES [dbo].[SpatialEntities] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SpatialEntitySpatialDataSources] CHECK CONSTRAINT [FK_dbo.SpatialEntitySpatialDataSources_dbo.SpatialEntities_SpatialEntity_Id]
GO
ALTER TABLE [dbo].[WMSLayers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.WMSLayers_dbo.WMSLayers_ParentLayer_Id] FOREIGN KEY([ParentLayer_Id])
REFERENCES [dbo].[WMSLayers] ([Id])
GO
ALTER TABLE [dbo].[WMSLayers] CHECK CONSTRAINT [FK_dbo.WMSLayers_dbo.WMSLayers_ParentLayer_Id]
GO
ALTER TABLE [dbo].[WMSLayers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.WMSLayers_dbo.WMSServers_WMSServer_Id] FOREIGN KEY([WMSServer_Id])
REFERENCES [dbo].[WMSServers] ([Id])
GO
ALTER TABLE [dbo].[WMSLayers] CHECK CONSTRAINT [FK_dbo.WMSLayers_dbo.WMSServers_WMSServer_Id]
GO
ALTER TABLE [dbo].[WMSServers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.WMSServers_dbo.Servers_Id] FOREIGN KEY([Id])
REFERENCES [dbo].[Servers] ([Id])
GO
ALTER TABLE [dbo].[WMSServers] CHECK CONSTRAINT [FK_dbo.WMSServers_dbo.Servers_Id]
GO
ALTER TABLE [dbo].[WMSSources]  WITH CHECK ADD  CONSTRAINT [FK_dbo.WMSSources_dbo.SpatialDataSources_Id] FOREIGN KEY([Id])
REFERENCES [dbo].[SpatialDataSources] ([Id])
GO
ALTER TABLE [dbo].[WMSSources] CHECK CONSTRAINT [FK_dbo.WMSSources_dbo.SpatialDataSources_Id]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "SpatialEntityBases"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 271
            End
            DisplayFlags = 280
            TopColumn = 10
         End
         Begin Table = "Metadatas"
            Begin Extent = 
               Top = 6
               Left = 309
               Bottom = 136
               Right = 503
            End
            DisplayFlags = 280
            TopColumn = 5
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'SpatialEntityWithDetailsView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'SpatialEntityWithDetailsView'
GO
USE [master]
GO
