/*Usage example : sqlcmd -U <login>@<serverName> -P <Password> -S tcp:<serverName>.database.windows.net -d <DatabaseName> -i <Path>\RMIndexDbScriptAzure.sql */
/*Please note that it is a good idea to change the password of the login (RealityDbECPluginLogin)*/
/*Example of connection String to give to the plugin : Server=tcp:<server>.database.windows.net,<SQLDBPort>;Database=<DatabaseName>;User ID=<LoginNameBelow>@ulmv57fd84;Password=<PasswordBelow>;Trusted_Connection=False;Encrypt=True;Connection Timeout=30; */
CREATE LOGIN RealityDbECPluginLogin WITH password='[!0#"t{)*G79](H'
GO
CREATE USER [RealityDbECPlugin] FOR LOGIN [RealityDbECPluginLogin] WITH DEFAULT_SCHEMA=[dbo]
GO
EXEC sp_addrolemember 'db_datareader', 'RealityDbECPlugin'
GO
SET QUOTED_IDENTIFIER ON 
GO
CREATE TABLE [dbo].[Metadatas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RawMetadata] [nvarchar](max) NULL,
	[RawMetadataFormat] [nvarchar](50) NULL,
	[DisplayStyle] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[ContactInformation] [nvarchar](max) NULL,
	[Keywords] [nvarchar](max) NULL,
	[Legal] [nvarchar](max) NULL,
	[Lineage] [nvarchar](max) NULL,
	[Provenance] [nvarchar](max) NULL,
	[IdStr]  AS (CONVERT([nvarchar](50),[ID])) PERSISTED,
 CONSTRAINT [PK_dbo.Metadatas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
) 

GO
CREATE TABLE [dbo].[OsmSources](
	[Id] [int] NOT NULL,
    [AlternateURL1] [nvarchar](max) NULL,
    [AlternateURL2] [nvarchar](max) NULL,
	[IdStr]  AS (CONVERT([nvarchar](50),[ID])) PERSISTED,
 CONSTRAINT [PK_dbo.OsmSources] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
) 

GO
CREATE TABLE [dbo].[OtherSources](
	[Id] [int] NOT NULL,
	[IdStr]  AS (CONVERT([nvarchar](50),[ID])) PERSISTED,
 CONSTRAINT [PK_dbo.OtherSources] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
) 

GO
CREATE TABLE [dbo].[Packages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[FileContent] [varbinary](max) NOT NULL,
	[CreationTime] [datetime] NOT NULL,
 CONSTRAINT [PK_Packages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
) 

GO

GRANT INSERT ON [dbo].[Packages] TO [RealityDbECPlugin] AS [dbo]
GO
GRANT SELECT ON [dbo].[Packages] TO [RealityDbECPlugin] AS [dbo]
GO

CREATE TABLE [dbo].[Servers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CommunicationProtocol] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[URL] [nvarchar](max) NULL,
	[ServerContactInformation] [nvarchar](max) NULL,
	[Fees] [nvarchar](max) NULL,
	[Legal] [nvarchar](max) NULL,
	[AccessConstraints] [nvarchar](max) NULL,
	[Online] [bit] NOT NULL,
	[LastCheck] [datetime] NOT NULL,
	[LastTimeOnline] [datetime] NOT NULL,
	[Latency] [float] NOT NULL,
	[MeanReachabilityStats] [int] NOT NULL,
	[State] [nvarchar](max) NULL,
	[Type] [nvarchar](max) NULL,
	[IdStr]  AS (CONVERT([nvarchar](50),[ID])) PERSISTED,
 CONSTRAINT [PK_dbo.Servers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
) 

GO

CREATE TABLE [dbo].[SpatialDataSources](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MainURL] [nvarchar](max) NULL,
	[CompoundType] [nvarchar](max) NULL,
	[LocationInCompound] [nvarchar](max) NULL,
	[DataSourceType] [nvarchar](max) NULL,
	[SisterFiles] [nvarchar](max) NULL,
	[Server_Id] [int] NULL,
	[IdStr]  AS (CONVERT([nvarchar](50),[ID])) PERSISTED,
	[FileSize] [bigint] NULL,
 CONSTRAINT [PK_dbo.SpatialDataSources] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
)

GO

CREATE TABLE [dbo].[SpatialEntities](
	[Id] [int] NOT NULL,
	[IdStr]  AS (CONVERT([nvarchar](50),[ID])) PERSISTED,
 CONSTRAINT [PK_dbo.SpatialEntities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
) 

GO

CREATE TABLE [dbo].[SpatialEntityBases](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Footprint] [geometry] NULL,
	[Name] [nvarchar](max) NULL,
	[Keywords] [nvarchar](max) NULL,
	[AssociateFile] [nvarchar](max) NULL,
	[ProcessingDescription] [nvarchar](max) NULL,
	[DataSourceTypesAvailable] [nvarchar](max) NULL,
	[AccuracyResolutionDensity] [nvarchar](max) NULL,
	[ParentDataset_Id] [int] NULL,
	[Thumbnail_Id] [int] NULL,
	[Metadata_Id] [int] NULL,
	[IdStr]  AS (CONVERT([nvarchar](50),[ID])) PERSISTED,
	[Date] [date] NULL,
	[Classification] [nvarchar](100) NULL,
 CONSTRAINT [PK_dbo.SpatialEntityBases] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
) 

GO

CREATE TABLE [dbo].[SpatialEntityDatasets](
	[Id] [int] NOT NULL,
	[AlternateDataset_Id] [int] NULL,
	[Processable] [bit] NOT NULL,
	[IdStr]  AS (CONVERT([nvarchar](50),[ID])) PERSISTED,
 CONSTRAINT [PK_dbo.SpatialEntityDatasets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
) 

GO

CREATE TABLE [dbo].[SpatialEntitySpatialDataSources](
	[SpatialEntity_Id] [int] NOT NULL,
	[SpatialDataSource_Id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SpatialEntitySpatialDataSources] PRIMARY KEY CLUSTERED 
(
	[SpatialEntity_Id] ASC,
	[SpatialDataSource_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
) 

GO

CREATE TABLE [dbo].[Thumbnails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ThumbnailProvenance] [nvarchar](max) NULL,
	[ThumbnailFormat] [nvarchar](max) NULL,
	[ThumbnailWidth] [nvarchar](max) NULL,
	[ThumbnailHeight] [nvarchar](max) NULL,
	[ThumbnailStamp] [nvarchar](max) NULL,
	[ThumbnailData] [varbinary](max) NULL,
	[ThumbnailGenerationDetails] [nvarchar](max) NULL,
	[IdStr]  AS (CONVERT([nvarchar](50),[ID])) PERSISTED,
 CONSTRAINT [PK_dbo.Thumbnails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
) 

GO

CREATE TABLE [dbo].[WMSLayers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Title] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[BoundingBox] [geometry] NULL,
	[CoordinateSystems] [nvarchar](max) NULL,
	[ParentLayer_Id] [int] NULL,
	[WMSServer_Id] [int] NOT NULL,
	[IdStr]  AS (CONVERT([nvarchar](50),[ID])) PERSISTED,
 CONSTRAINT [PK_dbo.WMSLayers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
) 

GO

CREATE TABLE [dbo].[WMSServers](
	[Id] [int] NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[NumLayers] [int] NULL,
	[Version] [nvarchar](max) NULL,
	[GetCapabilitiesURL] [nvarchar](max) NULL,
	[SupportedFormats] [nvarchar](max) NULL,
	[GetMapURL] [nvarchar](max) NULL,
	[GetMapURLQuery] [nvarchar](max) NULL,
	[IdStr]  AS (CONVERT([nvarchar](50),[ID])) PERSISTED,
 CONSTRAINT [PK_dbo.WMSServers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
) 

GO

CREATE TABLE [dbo].[WMSSources](
	[Id] [int] NOT NULL,
	[Layers] [nvarchar](max) NULL,
	[Styles] [nvarchar](max) NULL,
	[Formats] [nvarchar](max) NULL,
	[IdStr]  AS (CONVERT([nvarchar](50),[ID])) PERSISTED,
 CONSTRAINT [PK_dbo.WMSSources] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
) 

GO

CREATE VIEW [dbo].[SpatialEntityWithDetailsView]
AS
SELECT        dbo.SpatialEntityBases.Id, dbo.SpatialEntityBases.Footprint, dbo.SpatialEntityBases.Name, dbo.Metadatas.Description, dbo.Metadatas.ContactInformation, dbo.Metadatas.Keywords, dbo.Metadatas.Legal, 
                         dbo.SpatialEntityBases.ProcessingDescription, dbo.SpatialEntityBases.DataSourceTypesAvailable, dbo.SpatialEntityBases.Thumbnail_Id, dbo.SpatialEntityBases.ParentDataset_Id, dbo.SpatialEntityBases.IdStr, 
                         dbo.SpatialEntityBases.AccuracyResolutionDensity, dbo.SpatialEntityBases.Date, dbo.SpatialEntityBases.Classification
FROM            dbo.SpatialEntityBases INNER JOIN
                         dbo.Metadatas ON dbo.SpatialEntityBases.Metadata_Id = dbo.Metadatas.Id


GO
SET ANSI_PADDING ON
SET IDENTITY_INSERT [dbo].[Metadatas] ON 

INSERT [dbo].[Metadatas] ([Id], [RawMetadata], [RawMetadataFormat], [DisplayStyle], [Description], [ContactInformation], [Keywords], [Legal], [Lineage], [Provenance]) VALUES (1, NULL, NULL, NULL, NULL, NULL, NULL, N'© OpenStreetMap contributors', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Metadatas] OFF
SET ANSI_PADDING OFF
SET ANSI_PADDING ON

INSERT [dbo].[OsmSources] ([Id], [AlternateURL1], [AlternateURL2]) VALUES (1, N'http://www.overpass-api.de/api/xapi_meta?', N'http://overpass.osm.rambler.ru/cgi/xapi_meta?')
SET ANSI_PADDING OFF
SET ANSI_PADDING ON
SET IDENTITY_INSERT [dbo].[SpatialDataSources] ON 

INSERT [dbo].[SpatialDataSources] ([Id], [MainURL], [CompoundType], [LocationInCompound], [DataSourceType], [SisterFiles], [Server_Id], [FileSize]) VALUES (1, N'http://www.openstreetmap.org/api/0.6/map?', NULL, NULL, N'OSM', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[SpatialDataSources] OFF
SET ANSI_PADDING OFF
SET ANSI_PADDING ON
INSERT [dbo].[SpatialEntities] ([Id]) VALUES (1)
SET ANSI_PADDING OFF
SET ANSI_PADDING ON
SET IDENTITY_INSERT [dbo].[SpatialEntityBases] ON 

INSERT [dbo].[SpatialEntityBases] ([Id], [Footprint], [Name], [Keywords], [AssociateFile], [ProcessingDescription], [DataSourceTypesAvailable], [AccuracyResolutionDensity], [ParentDataset_Id], [Thumbnail_Id], [Metadata_Id], [Date], [Classification]) VALUES (1, 0xE610000001040500000000000000008066C000000000008056C000000000008066C0000000000080564000000000008066400000000000805640000000000080664000000000008056C000000000008066C000000000008056C001000000020000000001000000FFFFFFFF0000000003, N'OpenStreetMap', NULL, NULL, NULL, N'OSM', NULL, NULL, NULL, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[SpatialEntityBases] OFF
SET ANSI_PADDING OFF
INSERT [dbo].[SpatialEntitySpatialDataSources] ([SpatialEntity_Id], [SpatialDataSource_Id]) VALUES (1, 1)
/****** Object:  Index [IX_Id]    Script Date: 10/16/2015 11:37:58 AM ******/
CREATE NONCLUSTERED INDEX [IX_Id] ON [dbo].[OtherSources]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
GO
/****** Object:  Index [IX_Server_Id]    Script Date: 10/16/2015 11:37:58 AM ******/
CREATE NONCLUSTERED INDEX [IX_Server_Id] ON [dbo].[SpatialDataSources]
(
	[Server_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
GO
/****** Object:  Index [IX_Id]    Script Date: 10/16/2015 11:37:58 AM ******/
CREATE NONCLUSTERED INDEX [IX_Id] ON [dbo].[SpatialEntities]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
GO
/****** Object:  Index [IX_Metadata_Id]    Script Date: 10/16/2015 11:37:58 AM ******/
CREATE NONCLUSTERED INDEX [IX_Metadata_Id] ON [dbo].[SpatialEntityBases]
(
	[Metadata_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
GO
/****** Object:  Index [IX_ParentDataset_Id]    Script Date: 10/16/2015 11:37:58 AM ******/
CREATE NONCLUSTERED INDEX [IX_ParentDataset_Id] ON [dbo].[SpatialEntityBases]
(
	[ParentDataset_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
GO
/****** Object:  Index [IX_Thumbnail_Id]    Script Date: 10/16/2015 11:37:58 AM ******/
CREATE NONCLUSTERED INDEX [IX_Thumbnail_Id] ON [dbo].[SpatialEntityBases]
(
	[Thumbnail_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
GO
/****** Object:  Index [IX_AlternateDataset_Id]    Script Date: 10/16/2015 11:37:58 AM ******/
CREATE NONCLUSTERED INDEX [IX_AlternateDataset_Id] ON [dbo].[SpatialEntityDatasets]
(
	[AlternateDataset_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
GO
/****** Object:  Index [IX_Id]    Script Date: 10/16/2015 11:37:58 AM ******/
CREATE NONCLUSTERED INDEX [IX_Id] ON [dbo].[SpatialEntityDatasets]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
GO
/****** Object:  Index [IX_SpatialDataSource_Id]    Script Date: 10/16/2015 11:37:58 AM ******/
CREATE NONCLUSTERED INDEX [IX_SpatialDataSource_Id] ON [dbo].[SpatialEntitySpatialDataSources]
(
	[SpatialDataSource_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
GO
/****** Object:  Index [IX_SpatialEntity_Id]    Script Date: 10/16/2015 11:37:58 AM ******/
CREATE NONCLUSTERED INDEX [IX_SpatialEntity_Id] ON [dbo].[SpatialEntitySpatialDataSources]
(
	[SpatialEntity_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
GO
/****** Object:  Index [IX_ParentLayer_Id]    Script Date: 10/16/2015 11:37:58 AM ******/
CREATE NONCLUSTERED INDEX [IX_ParentLayer_Id] ON [dbo].[WMSLayers]
(
	[ParentLayer_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
GO
/****** Object:  Index [IX_WMSServer_Id]    Script Date: 10/16/2015 11:37:58 AM ******/
CREATE NONCLUSTERED INDEX [IX_WMSServer_Id] ON [dbo].[WMSLayers]
(
	[WMSServer_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
GO
/****** Object:  Index [IX_Id]    Script Date: 10/16/2015 11:37:58 AM ******/
CREATE NONCLUSTERED INDEX [IX_Id] ON [dbo].[WMSServers]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
GO
/****** Object:  Index [IX_Id]    Script Date: 10/16/2015 11:37:58 AM ******/
CREATE NONCLUSTERED INDEX [IX_Id] ON [dbo].[WMSSources]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
GO
ALTER TABLE [dbo].[OsmSources]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OsmSources_dbo.SpatialDataSources_Id] FOREIGN KEY([Id])
REFERENCES [dbo].[SpatialDataSources] ([Id])
GO
ALTER TABLE [dbo].[OsmSources] CHECK CONSTRAINT [FK_dbo.OsmSources_dbo.SpatialDataSources_Id]
GO
ALTER TABLE [dbo].[OtherSources]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OtherSources_dbo.SpatialDataSources_Id] FOREIGN KEY([Id])
REFERENCES [dbo].[SpatialDataSources] ([Id])
GO
ALTER TABLE [dbo].[OtherSources] CHECK CONSTRAINT [FK_dbo.OtherSources_dbo.SpatialDataSources_Id]
GO
ALTER TABLE [dbo].[SpatialDataSources]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SpatialDataSources_dbo.Servers_Server_Id] FOREIGN KEY([Server_Id])
REFERENCES [dbo].[Servers] ([Id])
GO
ALTER TABLE [dbo].[SpatialDataSources] CHECK CONSTRAINT [FK_dbo.SpatialDataSources_dbo.Servers_Server_Id]
GO
ALTER TABLE [dbo].[SpatialEntities]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SpatialEntities_dbo.SpatialEntityBases_Id] FOREIGN KEY([Id])
REFERENCES [dbo].[SpatialEntityBases] ([Id])
GO
ALTER TABLE [dbo].[SpatialEntities] CHECK CONSTRAINT [FK_dbo.SpatialEntities_dbo.SpatialEntityBases_Id]
GO
ALTER TABLE [dbo].[SpatialEntityBases]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SpatialEntityBases_dbo.Metadatas_Metadata_Id] FOREIGN KEY([Metadata_Id])
REFERENCES [dbo].[Metadatas] ([Id])
GO
ALTER TABLE [dbo].[SpatialEntityBases] CHECK CONSTRAINT [FK_dbo.SpatialEntityBases_dbo.Metadatas_Metadata_Id]
GO
ALTER TABLE [dbo].[SpatialEntityBases]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SpatialEntityBases_dbo.SpatialEntityDatasets_ParentDataset_Id] FOREIGN KEY([ParentDataset_Id])
REFERENCES [dbo].[SpatialEntityDatasets] ([Id])
GO
ALTER TABLE [dbo].[SpatialEntityBases] CHECK CONSTRAINT [FK_dbo.SpatialEntityBases_dbo.SpatialEntityDatasets_ParentDataset_Id]
GO
ALTER TABLE [dbo].[SpatialEntityBases]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SpatialEntityBases_dbo.Thumbnails_Thumbnail_Id] FOREIGN KEY([Thumbnail_Id])
REFERENCES [dbo].[Thumbnails] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SpatialEntityBases] CHECK CONSTRAINT [FK_dbo.SpatialEntityBases_dbo.Thumbnails_Thumbnail_Id]
GO
ALTER TABLE [dbo].[SpatialEntityDatasets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SpatialEntityDatasets_dbo.SpatialEntityBases_Id] FOREIGN KEY([Id])
REFERENCES [dbo].[SpatialEntityBases] ([Id])
GO
ALTER TABLE [dbo].[SpatialEntityDatasets] CHECK CONSTRAINT [FK_dbo.SpatialEntityDatasets_dbo.SpatialEntityBases_Id]
GO
ALTER TABLE [dbo].[SpatialEntityDatasets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SpatialEntityDatasets_dbo.SpatialEntityDatasets_AlternateDataset_Id] FOREIGN KEY([AlternateDataset_Id])
REFERENCES [dbo].[SpatialEntityDatasets] ([Id])
GO
ALTER TABLE [dbo].[SpatialEntityDatasets] CHECK CONSTRAINT [FK_dbo.SpatialEntityDatasets_dbo.SpatialEntityDatasets_AlternateDataset_Id]
GO
ALTER TABLE [dbo].[SpatialEntitySpatialDataSources]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SpatialEntitySpatialDataSources_dbo.SpatialDataSources_SpatialDataSource_Id] FOREIGN KEY([SpatialDataSource_Id])
REFERENCES [dbo].[SpatialDataSources] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SpatialEntitySpatialDataSources] CHECK CONSTRAINT [FK_dbo.SpatialEntitySpatialDataSources_dbo.SpatialDataSources_SpatialDataSource_Id]
GO
ALTER TABLE [dbo].[SpatialEntitySpatialDataSources]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SpatialEntitySpatialDataSources_dbo.SpatialEntities_SpatialEntity_Id] FOREIGN KEY([SpatialEntity_Id])
REFERENCES [dbo].[SpatialEntities] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SpatialEntitySpatialDataSources] CHECK CONSTRAINT [FK_dbo.SpatialEntitySpatialDataSources_dbo.SpatialEntities_SpatialEntity_Id]
GO
ALTER TABLE [dbo].[WMSLayers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.WMSLayers_dbo.WMSLayers_ParentLayer_Id] FOREIGN KEY([ParentLayer_Id])
REFERENCES [dbo].[WMSLayers] ([Id])
GO
ALTER TABLE [dbo].[WMSLayers] CHECK CONSTRAINT [FK_dbo.WMSLayers_dbo.WMSLayers_ParentLayer_Id]
GO
ALTER TABLE [dbo].[WMSLayers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.WMSLayers_dbo.WMSServers_WMSServer_Id] FOREIGN KEY([WMSServer_Id])
REFERENCES [dbo].[WMSServers] ([Id])
GO
ALTER TABLE [dbo].[WMSLayers] CHECK CONSTRAINT [FK_dbo.WMSLayers_dbo.WMSServers_WMSServer_Id]
GO
ALTER TABLE [dbo].[WMSServers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.WMSServers_dbo.Servers_Id] FOREIGN KEY([Id])
REFERENCES [dbo].[Servers] ([Id])
GO
ALTER TABLE [dbo].[WMSServers] CHECK CONSTRAINT [FK_dbo.WMSServers_dbo.Servers_Id]
GO
ALTER TABLE [dbo].[WMSSources]  WITH CHECK ADD  CONSTRAINT [FK_dbo.WMSSources_dbo.SpatialDataSources_Id] FOREIGN KEY([Id])
REFERENCES [dbo].[SpatialDataSources] ([Id])
GO
ALTER TABLE [dbo].[WMSSources] CHECK CONSTRAINT [FK_dbo.WMSSources_dbo.SpatialDataSources_Id]
GO