#----------------------------------------------------------------------
# level.cfg - Level system configuration variables
#  Copyright (c) Bentley Systems, Incorporated. All rights reserved.
#  See COPYRIGHT.md in the repository root for full copyright notice.
#---------------------------------------------------------------------------------------------
%if defined (_NAVIGATOR)
    MS_LEVEL_EDIT_NESTED_ATTACHMENT_LEVELS = 1
    %lock MS_LEVEL_EDIT_NESTED_ATTACHMENT_LEVELS

    MS_LEVEL_CLEAR_ATTACHMENT_SYMBOLOGY_FLAGS_ON_INITIAL_LOAD = 1
    %lock MS_LEVEL_CLEAR_ATTACHMENT_SYMBOLOGY_FLAGS_ON_INITIAL_LOAD

    # Enable reference level filters so they can be used to define clash detection criteria
    MS_LEVEL_LOAD_ATTACHMENT_FILTERS = 1
%endif

%if defined (_BENTLEYVIEW)
    MS_LEVEL_EDIT_NESTED_ATTACHMENT_LEVELS = 1
    %lock MS_LEVEL_EDIT_NESTED_ATTACHMENT_LEVELS
%endif
