{
  "name": "@bentley/imodeljs-native-platform-api",
  "license": "UNLICENSED",
  "version": "${PACKAGE_VERSION}",
  "keywords": [
    "Bentley",
    "iModel"
  ],
  "description":  "iModelJs core internals",
  "author": {
    "name": "Bentley Systems, Inc.",
    "url": "www.bentley.com"
  },
   "scripts": {
    "postinstall": "node ./installImodelJsNative.js"
   }
}
