{
  "name": "@bentley/imodeljs-native-platform-api",
  "license": "UNLICENSED",
  "version": "${PACKAGE_VERSION}",
  "keywords": [
    "Bentley",
    "iModel"
  ],
  "repository": {},
  "author": {
    "name": "Bentley Systems, Inc.",
    "url": "www.bentley.com"
  },
  "main": "compute-imodeljs-native-package-name.js",
  "types": "./${DECL_FILE_NAME}",
   "scripts": {
    "postinstall": "node ./install-imodeljs-native.js"
   }
}
