<configuration>
  <configSections>
    <section name="ExternalTools" type="ImageHunter.ExternalToolsSection, ImageHunter" />
  </configSections>
  <ExternalTools>
    <Tools>
      <add name="Active Image" id="0" exe="ActiveImage.exe" args="%s" />
      <add name="HTiffInfo" id="1" exe="HTiffInfo.exe" args="-p %s" />
      <add name="Image Insider" id="2" exe="ImageInsider.exe" args="%s" />
    </Tools>
  </ExternalTools>
  <appSettings>
    <add key="LastUsedFolders" value=""/>
    <add key="BrowsingHistory" />
    <add key="RecursiveSearch" value="true"/>
    <add key="DisplaySendToMenu" value="True" />
    <add key="ExcludedExtensions" value="exe; ini; txt; zip; pdf; log; bat; doc; xls; docx; xlsx; ppt; pptx"/>
  </appSettings>
</configuration>
