<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Geo_Web_Publisher_Unit_Testing_App.Properties.GeoWebPublisherUnitTestingApp" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Geo_Web_Publisher_Unit_Testing_App.Properties.GeoWebPublisherUnitTestingApp>
            <setting name="WindowSizeH" serializeAs="String">
                <value>681</value>
            </setting>
            <setting name="WindowSizeW" serializeAs="String">
                <value>963</value>
            </setting>
            <setting name="WindowLocationX" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="WindowLocationY" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="GridViewIdWidth" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="GridViewIdOrder" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="GridViewNameWidth" serializeAs="String">
                <value>160</value>
            </setting>
            <setting name="GridViewNameOrder" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="GridViewDescriptionWidth" serializeAs="String">
                <value>160</value>
            </setting>
            <setting name="GridViewDescriptionOrder" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="GridViewCategoryWidth" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="GridViewCategoryOrder" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="GridViewUrlWidth" serializeAs="String">
                <value>160</value>
            </setting>
            <setting name="GridViewUrlOrder" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="GridViewStatusWidth" serializeAs="String">
                <value>51</value>
            </setting>
            <setting name="GridViewStatusOrder" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="DatabaseName" serializeAs="String">
                <value />
            </setting>
            <setting name="UrlPrefix" serializeAs="String">
                <value>http://localhost:8087/</value>
            </setting>
            <setting name="TestRequest" serializeAs="String">
                <value>2fe1933d-79b3-47b7-8f33-b789fdf432fa.mapdef?SERVICE=wms&amp;REQUEST=getmap&amp;VERSION=1.1.1&amp;LAYERS=Parcel,Landmark&amp;SRS=None&amp;BBOX=486125.24935000005,5540979.5728,514069.3070499998,5559608.9446&amp;WIDTH=600&amp;HEIGHT=400&amp;QUALITY=100&amp;FORMAT=image/jpeg</value>
            </setting>
            <setting name="BackgroundColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="SmallDifferenceColor" serializeAs="String">
                <value>LightBlue</value>
            </setting>
            <setting name="BigDifferenceColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="AutoCheckUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpdateServerInfo" serializeAs="String">
                <value>http://localhost:8087/</value>
            </setting>
            <setting name="GridViewUpToDateWidth" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="GridViewUpToDateOrder" serializeAs="String">
                <value>1</value>
            </setting>
        </Geo_Web_Publisher_Unit_Testing_App.Properties.GeoWebPublisherUnitTestingApp>
    </userSettings>
</configuration>