#----------------------------------------------------------------------
#
#   $RCSfile: sketchup.cfg,v $
#  $Revision: 1.2 $  
#      $Date: 2006/07/21 19:46:49 $
#
#  Copyright 1998, Bentley Systems, Inc.
#
#  Limited permission is hereby granted to reproduce and modify this
#  copyrighted material provided that the resulting code is used only in
#  conjunction with Bentley Systems products under the terms of the
#  license agreement provided therein, and that this notice is retained
#  in its entirety in any such reproduction or modification.
#
#----------------------------------------------------------------------

#----------------------------------------------------------------------
#
# Set up Configuration Variables
#
#----------------------------------------------------------------------
MS_SKETCHUP_IMAGE : $(_USTN_PROJECTDATA)sketchupimage/
MS_PATTERN > $(MS_SKETCHUP_IMAGE)
