
# Parts that we don't want to put in the source repo.
vendor/CMake
vendor/docs
vendor/packages
vendor/projects
vendor/tests
vendor/winbuild
vendor/.azure-pipelines.yml
vendor/.circleci/
vendor/.cirrus.yml
vendor/.dcignore
vendor/.dir-locals.el
vendor/.git-blame-ignore-revs
vendor/.gitattributes
vendor/.github/
vendor/.lift/
vendor/.mailmap
vendor/.reuse/

ares/docs
ares/m4
ares/test
ares/acinclude.m4
ares/aclocal.m4
ares/aminclude_static.am
ares/AUTHORS
ares/buildconf
ares/buildconf.bat
ares/c-ares-config.cmake.in
ares/CHANGES
ares/CMakeLists.txt
ares/compile
ares/config.guess
ares/config.sub
ares/configure
ares/configure.ac
ares/CONTRIBUTING.md
ares/depcomp
ares/get_ver.awk
ares/install-sh
ares/INSTALL.md
ares/libcares.pc.cmake
ares/libcares.pc.in
ares/ltmain.sh
ares/Makefile.am
ares/Makefile.dj
ares/Makefile.in
ares/Makefile.m32
ares/Makefile.msvc
ares/Makefile.netware
ares/Makefile.Watcom
ares/maketgz
ares/missing
ares/msvc_ver.inc
ares/NEWS
ares/README.msvc
ares/RELEASE-NOTES
ares/SECURITY.md
ares/TODO
