<?xml version="1.0" encoding="utf-8"?>
<!--
#  Copyright (c) Bentley Systems, Incorporated. All rights reserved.
#  See COPYRIGHT.md in the repository root for full copyright notice.
-->

<!-- Create shortcuts. -->

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <?include $(var.BBInstallSetDefinitionWxi)?>

    <Fragment Id="C3dBridgeBridgeStandardRegistry">
        <Property Id="C3dBridgeRegistryFeature" Value="1"/>

        <Upgrade Id="{EA5A0937-CA0D-418E-B1D0-9B2EC4257F5B}">
            <UpgradeVersion IncludeMaximum="no" Maximum="!(wix.wixProductVersion)" IgnoreRemoveFailure="no" OnlyDetect="no" Property="C3DBRIDGE_MAJOR_UPGRADE"/>
        </Upgrade>

        <Component Id="PPRequiredInstallRegKeysBSW" Guid="*" Directory="INSTALLDIR" Win64="$(var.COMPONENT_WIN64)" Feature="DefaultFeature">
            <RegistryKey ForceDeleteOnUninstall="yes" ForceCreateOnInstall="yes" Key="SOFTWARE\Bentley\iModelBridges\C3dBridge" Root="HKLM">
                <RegistryValue Name="AffinityLibraryPath"   Value="[INSTALLDIR]C3dBridgeM02.dll" Type="string" />
                <RegistryValue Name="BridgeLibraryPath"     Value="[INSTALLDIR]C3dBridgeM02.dll" Type="string" />
                <RegistryValue Name="iModelFrameWorkExe"    Value="[INSTALLDIR]iModelBridgeFwk.exe" Type="string" />
                <RegistryValue Name="BridgeAssetsDir"       Value="[INSTALLDIR]Assets" Type="string"/>
                <RegistryValue Name="IsPowerPlatformBased" Value="false" Type="string"/>
            </RegistryKey>
        </Component>
    </Fragment>

</Wix>
